footer{
    margin-top: 20px;
    background-color: var(--color-footer);
    padding-top: 15px;
}
footer a{
    font-size: 11px;
    color: var(--color-a-footer);
}
footer .div_grid{
    display:grid;
    grid-template-columns: 50px auto auto 30px;
}

footer .div_grid .div_logo_footer{
    width: 80%;
    margin: 5px
}

footer .div_grid .div_logo_footer img{
    width: 100%;
}

footer .div_grid .div_navegacion_footer{
    padding-left: 5px ;
}
footer .div_grid .div_navegacion_footer ul{
    padding-left: 10px;
}

footer .div_grid .div_contacto{
    display: grid;
    grid-template-rows: auto auto;
    justify-self: center;
}

footer .div_grid .div_contacto .div_contacto_mail{
    align-self: center;
}

footer .div_grid .div_contacto div a i{
    padding-right: 5px;
}

footer .div_grid .div_redes{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 15px;
    align-items: center;
}

@media (min-width:415px){
    footer a{
        font-size: 13px;
    }
    footer .div_grid .div_logo_footer{
        width: 100%;
        margin: 5px
    }
    footer .div_grid .div_navegacion_footer{
        padding-left: 15% ;
        align-self: center;
    }
    footer .div_grid .div_navegacion_footer ul{
        display: grid;
        grid-template-columns: auto auto;
        align-self: center;
    }
    footer .div_grid .div_navegacion_footer ul li{
        padding-bottom: 15px;
    }
    footer .div_grid .div_redes{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-around;
        padding-bottom: 15px;
    }
}
