footer{
    margin-top: 20px;
    background-color: var(--color-footer);
    font-size: 12px;
    padding-top: 15px;
}
footer a{
    font-size: 11px;
    color: var(--color-a-footer);
}
footer .div_grid{
    display:grid;
    grid-template-columns: 50px auto auto auto;
}

footer .div_grid .div_logo_footer{
    width: 80%;
    margin: 5px
}

footer .div_grid .div_logo_footer img{
    width: 100%;
}

footer .div_grid .div_navegacion{
    display: grid;
    grid-template-columns: auto auto;
    padding-right:15px ;
}
footer .div_grid .div_navegacion ul{
    padding-left: 10px;
}

footer .div_grid .div_navegacion li{
    padding-top: 5px;
}

footer .div_grid .div_contacto{
    display: grid;
    grid-template-rows: auto auto;
    justify-content: space-between;
}

footer .div_grid .div_contacto .div_contacto_mail{
    align-self: center;
}

footer .div_grid .div_contacto div a i{
    padding-right: 5px;
}

footer .div_grid .div_redes{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 15px;
}