/*carrito*/
.cart h2{
    text-align: center;
    font-size: 25px;
}
.cart h3{
    font-size: 18px;
}
.cart section.carrito{
    display:flex;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: white;
}
.cart section.carrito div.compra{
    border: solid 1px black;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.cart section.carrito div.compra a.a_img{
    width: 40%;
    display: flex;
    flex-grow: 0.50;
    justify-content: center;
}
.cart section.carrito div.compra a.a_img img{
    width: 100%;
    height: 100%;
    display: flex;
    flex-grow: 1;
    justify-content: center;
}
.cart section.carrito div.detalles{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    font-size: 20px;
}

.cart section.carrito div.detalles .mas{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 23px;
    border:solid 1px black
}
.cart section.carrito div.compra div.descuento{
    display:flex;
    justify-content:space-between;
    flex-grow: 0.30;
    }
.cart section.carrito div.total{
    border: solid 1px black;
    border-top: none;
    font-size:  20px;
    display: flex;
    flex-direction: column;
    align-items:center;
    flex-grow: 1;
}
.cart section.carrito div.total button{
   color: white;
   background-color: blue;
   width: 90%;
   height: 40px;
   font-size:  22px;
}

.cart section.entrega div.compra,div.total,section.usuario div.compra,div.total,section.pago div.compra ,div.total{
    display:none
}
/*carrito-entrega*/
.cart section.entrega{
margin-bottom: 10px;
}
.cart section.entrega form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-between;
}
.cart section.entrega form input,section.usuario form input{
    width: 45%;
    height: 30px;
    margin: 15px 6px;
    margin-bottom: 0px;
}
.cart div.box-button button{
    color: white;
    background-color: gray;
    width: 20%;
    height: 35px;
    border: transparent;
}
.cart div.box-button {
    display: flex;
    justify-content:flex-end;
margin-right: 6px;
}
.cart section select{
        margin: 15px 0px 0px 7px;
        width: 45%;
        height: 30px;
}

/*section-pago*/
.cart section.pago div.metodo {
display: flex;
flex-direction: column;
align-items: center;
margin-top: 15px;
}
.cart section.pago div.metodo section{
    border:1px solid black;
    background-color:white;
    margin:10px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30px;
    width:70%;
}
.cart section.pago form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 7px;
}
.cart section.pago select{
    margin: 15px 0px 0px 0px;
    width:70%;
    height: 30px;
}

.cart section.pago form input{
    width: 70%;
    height: 30px;
    margin: 15px 0px;
    margin-bottom: 0px;
}
.cart section.pago form div.box-card button{
font-size:  30px;
margin-right:40px ;
margin-top: 6px;
}
.cart section.pago form div.box-form-n h4{
    margin-top: 10px;
}
/*section rsm*/
.cart section.rsm div.button-pago{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cart section.rsm div.button-pago button{
    width: 80%;
    height: 30px;
    margin: 15px 0px;
}
.cart section.rsm div.product{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.cart section.rsm .compra{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
}
.cart section.rsm div.compra a.a_img{
    width: 60%;
    display: flex;
    justify-content: center;
}
.cart section.rsm div.compra a.a_img img{
    width: 90%;
    display: flex;
    justify-content: center;
}
.cart section.rsm div.detalles{
    text-align: center;
}
.cart section.rsm div.detalles .mas{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 23px;
    border:solid 1px black
}
.cart section.rsm .total{
    display:inline-flex;
    border: solid 1px black;
    flex-direction: column;
    margin-top: 20px;
    padding:15px 20px;
    background-color: white;
}
.cart section.rsm div.button-final button{
    width: 45%;
    height: 40px;
    background-color:gray;
    color:white
}
.cart section.rsm div.button-final{
display: flex;
justify-content:center;
margin-top: 10px;

}
@media (min-width:415px){
    .cart section.carrito{
        display:flex;
      flex-wrap: wrap;
      margin-top: 10px;
      margin-bottom: 20px;
      background-color: rgb(133, 38, 38);
    }
    .cart section.carrito div.compra{
        border: solid 1px black;
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }
}
/*DESCUENTO VERSION ESCRITORIO
.cart section.carrito div.compra div.descuento{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.cart section.carrito div.compra div.descuento{
display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }
*/
/*<input type="checkbox" id="menu">
            <label for="menu"> ☰ </label>

            ~


            @keyframes rotate{
    0%{
        -webkit-transform: rotate3d(0, 0, 1, 0deg);
        transform: rotate3d(0, 0, 1, 0deg);
    }
    25%{
        -webkit-transform: rotate3d(0, 0, 1, 90deg);
        transform: rotate3d(0, 0, 1, 90deg);
    }
    50%{
        -webkit-transform: rotate3d(0, 0, 1, 180deg);
        transform: rotate3d(0, 0, 1, 180deg);
    }
    75%{
        -webkit-transform: rotate3d(0, 0, 1, 270deg);
        transform: rotate3d(0, 0, 1, 270deg);
    }
    100%{
        -webkit-transform: rotate3d(0, 0, 1, 360deg);
        transform: rotate3d(0, 0, 1, 360deg);
    }
}

*/