/* INDEX */

.admin table{
    width: 90%;
    margin: 15px auto;
    background-color: #c6c6c6;
    text-align: center;
}
.admin table th,
.admin table td{
    background-color: bisque;
}
.admin table tbody tr td{
    height: 80px;
}
.admin table tbody tr td img{
    width: 30px;
}
/* ADD */
.edit main form,
.add main form{
    width: 85%;
    margin: 15px auto;
}
.edit main form section,
.add main form section{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
}
.edit main form section .box-form,
.add main form section .box-form{
    margin-top: 30px;
    display: flex;
    flex-direction: column
}
.edit main form section .box-form textarea,
.add main form section .box-form textarea{
    resize:none
}
.edit main form .box-button button,
.add main form .box-button button{
    padding: 5px 15px;
}