/* INDEX */
.admin table{
    width: 90%;
    margin: 15px auto;
    background-color: var(--color-nav-header);
    border: solid 1px var(--color-border-art);
    text-align: center;
}
.admin table tbody,
.admin table tbody tr td{
    border: solid 1px var(--color-border-art);
    
}
.admin table tbody tr td{
    height: 80px;
}
.admin table tbody tr td img{
    width: 30px;
}
/* ADD */

.add main form{
    width: 85%;
    margin: 15px auto;
}
.add main form section{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
}
.add main form section .box-form{
    margin-top: 30px;
    display: flex;
    flex-direction: column
}
.add main form .box-button button{
    padding: 5px 15px;
}