
.comunity .container-main{
    width: 95%;
    margin: 10px auto;
    border-radius: 8px;
    color: var(--color-header);

}
.comunity .div_publicar{
    background-color: #fff;
    margin-bottom: 20px;
    box-shadow: 0 3px 3px 0px;
    height: 35px;
    border-radius: 3px;
    display:flex;
    align-items: center;
    justify-content: space-around;
}
.comunity .div_publicar input{
    text-indent: 3px;
}

.comunity .div_filtrar{
    background-color: #fff;
    margin-bottom: 20px;
    box-shadow: 0 3px 3px 0px;
    height: 35px;
    border-radius: 3px;
    font-size: 11px;
    display:flex;
    align-items: center;
    justify-content: space-around;
}
.comunity section .art{
    background-color: #fff;
    box-shadow: 0 3px 3px 0px;
    border-radius: 3px;
    margin-bottom: 20px;
    padding: 5px 10px;
}
.comunity section .art h4{
    margin-top: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #696969;
}
.comunity section .art iframe{
    width: 100%;
    height: 250px;
}
.comunity section .art img{
    height: 250px;
    object-fit: contain;
}
.comunity section .art .div_p{
    font-size: 11px;
    padding: 10px;
    background-color: #c6c6c6;
}

@media (min-width: 425px){
    .comunity .container-main{
        width: 90%;
    }
}
@media (min-width: 769px){
    .comunity .container-main{
        width: 80%;
    }
    .comunity section .art{
        max-width: 900px
    }
}

