<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head') %> 
<body class="comunity">
    <%- include('../partials/header') %> 
    <main>
        <div class="container-main">
            <h1>Comunidad</h1>
            
            <div class="div_publicar">
                <img src="/images/logo/logo-de-lado.svg" width="50px" alt="">
                <input type="text" placeholder="Publicar" >
                <a href=""><i class="far fa-images"></i></a>
                <a href=""><i class="fas fa-link"></i></a>
            </div>
            <div class="div_filtrar">
                <a href=""><i class="fas fa-guitar"></i> Mejores</a>
                <a href=""><i class="fas fa-hashtag"></i> Destacado</a>
                <a href=""><i class="fas fa-tags"></i> Nuevo</a>
                <a href=""><i class="fas fa-tags"></i> Mas votado</a>
            </div>
            
            <section class="section_post">
                <article class="art">
                    <h4>Passenger Fall Away</h3>
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/Q-ChG3jlgoc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" autoplay></iframe>
                    <div class="div_p">
                        <p> Written by Mike Rosenberg  </p>
                        <p>Performed by Mike Rosenberg & Stu Larsen</p> 
                        <p>Recorded by Chris Vallejo</p> 
                        <p>Mixed by Chris Vallejo</p>
                        <p>Edited & Graded by Nic Minns</p>
                    </div>
                </article>
            </section>
        </div>

    </main>
    <%- include('../partials/footer') %> 
</body>
</html>