<footer>

    <div class="div_grid">

        <div class="div_navegacion_footer">
            <ul>
                <li><a href="/"><i class="fas fa-arrow-right"></i> Inicio</a></li>
                <li><a href="/products"><i class="fas fa-arrow-right"></i> Tienda</a></li>
                <li><a href="/about"><i class="fas fa-arrow-right"></i> Sobre Nosotros</a></li>
                <li><a href="/comunity"><i class="fas fa-arrow-right"></i> Comunidad</a></li>
            </ul>
        </div>

        <div class="div_redes">
            <a href="" class="instagram"><i class="fab fa-instagram"></i></a>
            <a href="" class="facebook"><i class="fab fa-facebook-square"></i></a>
            <a href="" class="twitter"><i class="fab fa-twitter-square"></i></a>
        </div>
    </div>
    <div class="div_grid2">
        <div class="div_terminos">
            <ul>
                <li class="li-contact">
                    <a href="#contact" id="openContact">
                        Contactanos
                    </a>
                    <div id="modal_contact" class="modal-contact">
                        <div class="model">
                            <form id="my-form" action="https://formspree.io/f/xpzkvgqz" method="POST">
                                <label>Email:</label>
                                <input class="email" type="email" name="email" />
                                <label>Mensaje:</label>
                                <textarea class="textarea" name="message" rows="4" cols="50"></textarea>
                                <p id="my-form-status"></p>
                                <button class="submitContact button" id="my-form-button">Enviar</button>
                            </form>
                            <button class="closeContact button" id="closeContact">Cerrar</button>
                        </div>
                    </div>
                </li>

                <li><a class="privacity" href="#privacity">Politica de privacidad</a></li>
                <li><a class="cookies" href="#cookies">Politica de cookies</a></li>
                <li><a class="grupo2" href="#grupo2">made with ♥ <br> by Grupo2</a></li>
            </ul>
        </div>
    </div>

</footer>

<!--========== MAIN JS ==========-->
<script src="/js/sidebar.js"></script>
<script src="/js/footer.js"></script>