<header>

    <div class="flex-container">
        <div class="div_logo_header">
            <a href="/">
                <img src="/images/logo/logo-de-lado.svg" alt="logo-aLi-Music">
            </a>
        </div>
        
        <div class="div_cuenta">
            <a href="/users/login">Mi cuenta</a>
        </div>

        <div class="div_favoritos">
            <a href="/admin"><!-- <i class="far fa-star"></i> -->ADMIN</a> <!-- Nos lleva a admin hasta hacer la vista de favoritos -->
        </div>
        
        <div class="div_carrito">
            <a href="/products/cart">1</a>
            <a href="/products/cart"><i class="fas fa-shopping-cart"></i></a>
        </div>
        
        <div class="div_burger">
            <input type="checkbox" id="menu">
            <label for="menu"> ☰ </label>
            <ul>
                <li><a href="/"><i class="fas fa-home"></i>Inicio</a></li>
                <li><a href="/products"><i class="fas fa-money-bill-alt"></i>Tienda</a></li>
                <li><a href="/about"><i class="fas fa-id-card"></i>about</a></li>
                <li><a href="/comunity"><i class="fas fa-guitar"></i>Comunidad</a></li>
                <li><a href="/users/register"><i class="fas fa-save"></i>Register</a></li>
                <li><a href="/users/login"><i class="fas fa-sign-in-alt"></i>Acceder</a></li>
            </ul>
        </div>
        
        <div class="div_barra_de_busqueda">
            <input type="text" name="barra" id="">
            <a href=""><i class="fas fa-search"></i></a>
        </div>
        
    </div>
    <div class="div_navegacion_header">
        <ul class="ul_navegacion_header">
            <li><a href="/"><i class="fas fa-home"></i>Inicio</a></li>
            <li><a href="/products"><i class="fas fa-money-bill-alt"></i>Tienda</a></li>
            <li><a href="/about"><i class="fas fa-id-card"></i>about</a></li>
            <li><a href="/comunity"><i class="fas fa-guitar"></i>Comunidad</a></li>
        </ul>
        <ul class=ul_cuenta>
            <li><a href="/users/register"><i class="fas fa-save"></i>Register</a></li>
            <li><a href="/users/login"><i class="fas fa-sign-in-alt"></i>Acceder</a></li>
        </ul>
    </div>
</header>