<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <title>Home</title>
</head>
<body class="home">

    <header>

        <div class="flex-container">
            <div class="div_logo_header">
                <img src="/images/logo-de-lado.svg" alt="logo aLi Music">
            </div>
            
            <div class="div_cuenta">
                <a href="">Mi cuenta</a>
            </div>
            
            <div class="div_carrito">
                <a href="">1</a>
                <a href=""><i class="fas fa-shopping-cart"></i></a>
            </div>
            
            <div class="div_burger">
                <a href=""><i class="fas fa-bars"></i></a>
            </div>
            
            <div class="div_barra_de_busqueda">
                <input type="text" name="barra" id="">
                <a href=""><i class="fas fa-search"></i></a>
            </div>
        </div>

    </header>
    <main>

        <div class="div_carrusel">
            <img src="" alt="">
        </div>

        <div class="div_banner">
            <img src="/images/banner.jpg" alt="Banner-notas-musicales">
        </div>

        <section class="novedades">

            <h1>Novedades</h1>

            <div class="div_container">
                <article class="art">
                    <a href="">
                        <img src="/images/guitarra-electrica.webp" alt="guitarra-electrica">
                    </a>
                    <div>
                        <p>*descuento*</p>
                        <p>precio</p>
                    </div>
                </article>
                <article class="art">
                    <a href="">
                        <img src="/images/parlante-con-microfono.webp" alt="parlante-con-microfono">
                    </a>
                    <div>
                        <p>*descuento*</p>
                        <p>precio</p>
                    </div>
                </article>
            </div>
        </section>

        <section class="ofertas">

            <h1>ofertas</h1>

            <div class="div_container">
                <article class="art">
                    <a href="">
                        <img src="/images/guitarra-electrica.webp" alt="guitarra-electrica">
                    </a>
                    <div>
                        <p>*descuento*</p>
                        <p>precio</p>
                    </div>
                </article>
                <article class="art">
                    <a href="">
                        <img src="/images/parlante-con-microfono.webp" alt="parlante-con-microfono">
                    </a>
                    <div>
                        <p>*descuento*</p>
                        <p>precio</p>
                    </div>
                </article>
            </div>
        </section>

        <section class="descuentos">

            <h1>descuentos</h1>

            <div class="div_container">
                <article class="art">
                    <a href="">
                        <img src="/images/guitarra-electrica.webp" alt="guitarra-electrica">
                    </a>
                    <div>
                        <p>*descuento*</p>
                        <p>precio</p>
                    </div>
                </article>
                <article class="art">
                    <a href="">
                        <img src="/images/parlante-con-microfono.webp" alt="parlante-con-microfono">
                    </a>
                    <div>
                        <p>*descuento*</p>
                        <p>precio</p>
                    </div>
                </article>
            </div>
        </section>

    </main>
    <footer>

        <div class="div_grid">
            <div class="div_logo_footer">
                <img src="/images/logo.svg" alt="Logo-ali-Music">
            </div>
            
            <div class="div_navegacion">
                <ul>
                    <li><a href="">Inicio</a></li>
                    <li><a href="">Tienda</a></li>
                    <li><a href="">Contacto</a></li>
                    <li><a href="">Comunidad</a></li>
                </ul>
                <ul>
                    <li><a href="">Lorem</a></li>
                    <li><a href="">Ipsun</a></li>
                    <li><a href="">Dolor</a></li>
                    <li><a href="">Sit</a></li>
                </ul>
            </div>
            
            <div class="div_contacto">
                <a href=""><i class="fas fa-envelope"></i></a>
                <a href="">Grupo2@gmail.com</a>
                <a href=""><i class="fab fa-whatsapp-square"></i></a>
                <a href="">+54 11-2233-4455</a>
            </div>
            
            <div class="div_redes">
                <a href=""><i class="fab fa-instagram-square"></i></a>
                <a href=""><i class="fab fa-facebook-square"></i></a>
                <a href=""><i class="fab fa-twitter-square"></i></a>
            </div>
        </div>
        
    </footer>
    
</body>
</html>