<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <title>Home</title>
</head>
<body class="home">

    <header>

        <div class="flex-container">
            <div class="div_logo_header">
                <a href="/">
                    <img src="/images/logo/logo-de-lado.svg" alt="logo-aLi-Music">
                </a>
            </div>
            
            <div class="div_cuenta">
                <a href="/login">Mi cuenta</a>
            </div>

            <div class="div_favoritos">
                <a href=""><i class="far fa-star"></i></a>
            </div>
            
            <div class="div_carrito">
                <a href="/productcart">1</a>
                <a href="/productcart"><i class="fas fa-shopping-cart"></i></a>
            </div>
            
            <div class="div_burger">
                <a href=""><i class="fas fa-bars"></i></a>
            </div>
            
            <div class="div_barra_de_busqueda">
                <input type="text" name="barra" id="">
                <a href=""><i class="fas fa-search"></i></a>
            </div>
            
        </div>
        <div class="div_navegacion_header">
            <ul class="ul_navegacion_header">
                <li><a href="/"><i class="fas fa-home"></i>Inicio</a></li>
                <li><a href="/store"><i class="fas fa-money-bill-alt"></i>Tienda</a></li>
                <li><a href="/contact"><i class="fas fa-id-card"></i>Contacto</a></li>
                <li><a href="/comunity"><i class="fas fa-guitar"></i>Comunidad</a></li>
            </ul>
            <ul class=ul_cuenta>
                <li><a href="/register"><i class="fas fa-save"></i>Register</a></li>
                <li><a href="/login"><i class="fas fa-sign-in-alt"></i>Acceder</a></li>
            </ul>
        </div>
    </header>
    <main>

        <div class="div_carrusel">
            <img src="/images/carrusel.jpg" alt="Carrusel-guitarra-electroAcustica">
            <a class="right" href=""><i class="fas fa-chevron-right"></i></a>
            <a class="left" href=""><i class="fas fa-chevron-left"></i></a>
        </div>

        <div class="div_banner">
            <img src="/images/piano.jpg" alt="Banner-piano">
        </div>

        <section class="novedades">

            <h1>Basado en tu última visita</h1>

            <div class="div_container">
                <article class="art">
                    <a class="a_img" href="">
                        <img src="/images/articulos/visita/art01-visita.jpg" alt="guitarra electrica stratocaster 22 traster palanca cable">
                    </a>
                    <div>
                        <p class="off">10% OFF</p>
                        <p class="precio">$ 13.499</p>
                    </div>
                    <nav class="nav_fav">
                        <a href=""><i class="far fa-star"></i></a>
                    </nav>
                </article>
                <article class="art">
                    <a class="a_img" href="">
                        <img src="/images/articulos/visita/art02-visita.jpg" alt="Guitarra Electroacustica Criolla Con Funda 3 Puas De Madera">
                    </a>
                    <div>
                        <p class="off">8% OFF</p>
                        <p class="precio">$ 8.999</p>
                    </div>
                    <nav class="nav_fav">
                        <a href=""><i class="far fa-star"></i></a>
                    </nav>
                </article>
                <article class="art">
                    <a class="a_img" href="">
                        <img src="/images/articulos/visita/art03-visita.jpg" alt="Guitarra criolla electroacústica La Alpujarra 300KEC natural">
                    </a>
                    <div>
                        <p class="off">Envío gratis</p>
                        <p class="precio">$ 52.525</p>
                    </div>
                    <nav class="nav_fav">
                        <a href=""><i class="far fa-star"></i></a>
                    </nav>
                </article>
                <article class="art">
                    <a class="a_img" href="">
                        <img src="/images/articulos/visita/art04-visita.jpg" alt="Guitarra Electrica Leonard Le362 Tipo Stratocaster Con Palanca Y Cable Microfonos Sss De 21 Trastes Con Puente Tremolo">
                    </a>
                    <div>
                        <p class="off">Envío gratis <i class="fas fa-bolt"></i> FULL</p>
                        <p class="precio">18.399</p>
                    </div>
                    <nav class="nav_fav">
                        <a href=""><i class="far fa-star"></i></a>
                    </nav>
                </article>
            </div>
        </section>

        <section class="ofertas">

            <h1>ofertas</h1>

            <div class="div_container">
                <article class="art">
                    <a class="a_img" href="">
                        <img src="/images/articulos/ofertas/art01-ofertas.jpg" alt="parlante-portatil-8w-bluetooth-control-microfono-8-pulgadas">
                    </a>
                    <div>
                        <p class="off">Envio gratis</p>
                        <p class="precio">$ 5.499</p>
                    </div>
                    <nav class="nav_fav">
                        <a href=""><i class="far fa-star"></i></a>
                    </nav>
                </article>
                <article class="art">
                    <a class="a_img" href="">
                        <img src="/images/articulos/ofertas/art02-ofertas.jpg" alt="Caja peruana Marca Unplugged-Music
                        Modelo pro10u">
                    </a>
                    <div>
                        <p class="off">Envio gratis</p>
                        <p class="precio">$ 2.499</p>
                    </div>
                    <nav class="nav_fav">
                        <a href=""><i class="far fa-star"></i></a>
                    </nav>
                </article>
                <article class="art">
                    <a class="a_img" href="">
                        <img src="/images/articulos/ofertas/art03-ofertas.jpg" alt="Interface-audio-behringer-U-Phoria-UMC22">
                    </a>
                    <div>
                        <p class="off">Envio gratis</p>
                        <p class="precio">$ 12.267</p>
                    </div>
                    <nav class="nav_fav">
                        <a href=""><i class="far fa-star"></i></a>
                    </nav>
                </article>
                <article class="art">
                    <a class="a_img" href="">
                        <img src="/images/articulos/ofertas/art04-ofertas.jpg" alt="Microfono-behringer-C-3-condesador-cardiode-omnidireccional-plateado">
                    </a>
                    <div>
                        <p class="off">Envío gratis <i class="fas fa-bolt"></i> FULL</p>
                        <p class="precio">14.399</p>
                    </div>
                    <nav class="nav_fav">
                        <a href=""><i class="far fa-star"></i></a>
                    </nav>
                </article>
            </div>
        </section>

        <section class="descuentos">

            <h1>descuentos</h1>

            <div class="div_container">
                <article class="art">
                    <a class="a_img" href="">
                        <img src="/images/articulos/descuentos/art01-descuentos.jpg" alt="Soporte Pared Guitarra Electrica Criolla Bajo Ukelele">
                    </a>
                    <div>
                        <p class="off">10% OFF</p>
                        <p class="precio">$ 266</p>
                    </div>
                    <nav class="nav_fav">
                        <a href=""><i class="far fa-star"></i></a>
                    </nav>
                </article>
                <article class="art">
                    <a class="a_img" href="">
                        <img src="/images/articulos/descuentos/art02-descuentos.jpg" alt="Equipo De Música Parlante Bluetooth 20w + 2x 8w Megatronik">
                    </a>
                    <div>
                        <p class="off">8% OFF</p>
                        <p class="precio">$ 9.199</p>
                    </div>
                    <nav class="nav_fav">
                        <a href=""><i class="far fa-star"></i></a>
                    </nav>
                </article>
                <article class="art">
                    <a class="a_img" href="">
                        <img src="/images/articulos/descuentos/art03-descuentos.jpg" alt="eclado Organo Casio Ctk3500 Sensitivo De 5 Octavas 61 Teclas Polifonia De 48 Voces Con Dance Music Usb Midi">
                    </a>
                    <div>
                        <p class="off">15% OFF + Envío gratis</p>
                        <p class="precio">$ 36.152</p>
                    </div>
                    <nav class="nav_fav">
                        <a href=""><i class="far fa-star"></i></a>
                    </nav>
                </article>
                <article class="art">
                    <a class="a_img" href="">
                        <img src="/images/articulos/descuentos/art04-descuentos.jpg" alt="Ukelele Soprano Dy Uk Músicos Profesionales + Colores + Mejor Afinación + Funda">
                    </a>
                    <div>
                        <p class="off">20% OFF</p>
                        <p class="precio">$ 3.999</p>
                    </div>
                    <nav class="nav_fav">
                        <a href=""><i class="far fa-star"></i></a>
                    </nav>
                </article>
            </div>
        </section>

    </main>
    <footer>

        <div class="div_grid">
            <div class="div_logo_footer logo-incompleto">
                <img src="/images/logo/logo.svg" alt="Logo-ali-Music">
            </div>
            <div class="div_logo_footer logo-completo">
                <img src="/images/logo/logo-completo.svg" alt="Logo-ali-Music">
            </div>
            
            <div class="div_navegacion_footer">
                <ul>
                    <li><a href=""><i class="fas fa-home"></i> Inicio</a></li>
                    <li><a href=""><i class="fas fa-money-bill-alt"></i> Tienda</a></li>
                    <li><a href=""><i class="fas fa-id-card"></i> Contacto</i></a></li>
                    <li><a href=""><i class="fas fa-guitar"></i> Comunidad</i></a></li>
                </ul>
            </div>
            
            <div class="div_contacto">
                <div class="div_contacto_mail">
                    <a href=""><i class="fas fa-envelope"></i></a>
                    <a href="">Grupo2@gmail.com</a>
                </div>
                <div>
                    <a href=""><i class="fab fa-whatsapp-square"></i></a>
                    <a href="">+54 11-2233-4455</a>
                </div>
            </div>
            
            <div class="div_redes">
                <a href=""><i class="fab fa-instagram-square"></i></a>
                <a href=""><i class="fab fa-facebook-square"></i></a>
                <a href=""><i class="fab fa-twitter-square"></i></a>
            </div>
        </div>
        
    </footer>
    
</body>
</html>