<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ali Music</title>
    <script src="https://kit.fontawesome.com/b22398ad75.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/sprint2/public/css/productdetail.css">
</head>
<body class="details">
    <header>
        <h1>Ali music</h1>
    </header>
    <main>

        <div class="product">
            <img src="/sprint2/public/img/Epiphone-SG-Standard-Body-guitarra1.jpg" alt=""><i class="fas fa-heart"></i>
        </div>
        <div class="name">
            <i class="fas fa-angle-double-left"></i>
            <h2>nombre del producto</h2>
            <i class="fas fa-angle-double-right"></i>
        </div>
        <div>
            <button type="button">-</button>
            <span>01</span>
            <button type="button">+</button>
            <p>cantidad</p>
        </div>
        <div>
            <i class="fas fa-dollar-sign"></i><p>40587</p>
        </div>
        <div>
            <i class="fas fa-shopping-cart"></i><p>comprar</p>
        </div>
        <div>
            <h3>detalles del producto</h3>
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
        <section class="others">
            <h3>productos relacionados</h3>
            <article>
                <img src="/sprint2/public/img/Epiphone-SG-Standard-Body-guitarra1.jpg" alt="">

            </article>
            <article>
                <img src="/sprint2/public/img/Epiphone-SG-Standard-Body-guitarra1.jpg" alt="">
            </article>
            <article>
                <img src="/sprint2/public/img/Epiphone-SG-Standard-Body-guitarra1.jpg" alt="">
            </article>
            <article>
                <img src="/sprint2/public/img/Epiphone-SG-Standard-Body-guitarra1.jpg" alt="">
            </article>
        </section>
    </main>
    <footer>
        <h4>contactanos</h4>
    </footer>
</body>
</html>