<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cart</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>

<body>

    <header>

        <div class="flex-container">
            <div class="div_logo_header">
                <a href="/">
                    <img src="/images/logo/logo-de-lado.svg" alt="logo-aLi-Music">
                </a>
            </div>

            <div class="div_cuenta">
                <a href="/login">Mi cuenta</a>
            </div>

            <div class="div_favoritos">
                <a href=""><i class="far fa-star"></i></a>
            </div>

            <div class="div_carrito">
                <a href="/productcart">1</a>
                <a href="/productcart"><i class="fas fa-shopping-cart"></i></a>
            </div>

            <div class="div_burger">
                <input type="checkbox" id="menu">
                <label for="menu"> ☰ </label>
                <ul>
                    <li><a href="/"><i class="fas fa-home"></i>Inicio</a></li>
                    <li><a href="/store"><i class="fas fa-money-bill-alt"></i>Tienda</a></li>
                    <li><a href="/contact"><i class="fas fa-id-card"></i>Contacto</a></li>
                    <li><a href="/comunity"><i class="fas fa-guitar"></i>Comunidad</a></li>
                    <li><a href="/register"><i class="fas fa-save"></i>Register</a></li>
                    <li><a href="/login"><i class="fas fa-sign-in-alt"></i>Acceder</a></li>
                </ul>
            </div>

            <div class="div_barra_de_busqueda">
                <input type="text" name="barra" id="">
                <a href=""><i class="fas fa-search"></i></a>
            </div>

        </div>
        <div class="div_navegacion_header">
            <ul class="ul_navegacion_header">
                <li><a href="/"><i class="fas fa-home"></i>Inicio</a></li>
                <li><a href="/store"><i class="fas fa-money-bill-alt"></i>Tienda</a></li>
                <li><a href="/contact"><i class="fas fa-id-card"></i>Contacto</a></li>
                <li><a href="/comunity"><i class="fas fa-guitar"></i>Comunidad</a></li>
            </ul>
            <ul class=ul_cuenta>
                <li><a href="/register"><i class="fas fa-save"></i>Register</a></li>
                <li><a href="/login"><i class="fas fa-sign-in-alt"></i>Acceder</a></li>
            </ul>
        </div>
    </header>
    <main class="cart">
        <h2>Carrito</h2>
        <section class="carrito">
            <div class="compra">
                <div class="img_container">
                    <img src="/images/articulos/ofertas/art03-ofertas.jpg"
                        alt="Interface-audio-behringer-U-Phoria-UMC22">
                </div>
                <div class="product">
                    <div class="detalles">
                        <p>Proucto:Audio-behringer</p>
                        <p>Precio:$****</p>
                        <div class="mas">
                            <i class="fas fa-plus-circle"></i>
                            <p>01</p>
                            <i class="fas fa-minus-circle"></i>
                        </div>
                        <p>Cantidad</p>
                    </div>
                </div>
                <div class="descuento">
                    <strong>
                        <p>Codigo de Descuento</p>
                    </strong>
                    <input type="text" name="numero">
                </div>
            </div>
            <div class="total">
                <p>Subtotal:$****</p>
                <p>Total:$****</p>
                <button type="submit">Comprar</button>
            </div>
        </section>
        <section class="entrega">
            <h2>Entrega</h2>
            <div class="entrega">
                <form action="">
                    <input type="email" name="email" id="email" placeholder="Correo">
                    <input type="text" name="DNI" id="DNI" placeholder="DNI">
                    <input type="text" name="nombre" id="nombre" placeholder="Nombre">
                    <input type="number" name="telefono" id="telefono" placeholder="telefono">
                    <input type="text" name="apellido" id="apellido" placeholder="Apellido">
                </form>
                <div class="compra">
                    <div class="img_d">
                        <div class="img_container">
                            <img src="/images/articulos/visita/art02-visita.jpg"
                                alt="Guitarra Electroacustica Criolla Con Funda 3 Puas De Madera">
                        </div>
                        <div class="product">
                            <div class="detalles">
                                <p>Proucto:Audio-behringer</p>
                                <p>Precio:$****</p>
                                <p>Cantidad</p>
                                <div class="mas">
                                    <i class="fas fa-plus-circle"></i>
                                    <p>01</p>
                                    <i class="fas fa-minus-circle"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="total">
                        <p>Subtotal:$****</p>
                        <p>Total:$****</p>
                    </div>
                </div>
            </div>
            <div class="box-button">
                <button type="submit">Continuar</button>
            </div>
        </section>
        <section class="usuario">
            <h2>Informacion de usuario</h2>
            <div class="usuario">
                <form action="">
                    <input type="number" name="codigo postal" id="codigo postal" placeholder="codigo postal">
                    <input type="text" name="provincia" id="provincia" placeholder="provincia">
                    <input type="text" name="ciudad" id="ciudad" placeholder="ciudad">
                    <input type="text" name="calle" id="calle" placeholder="calle">
                    <input type="number" name="N.calle" id="N.calle" placeholder="N.calle">
                </form>
                <div class="compra">
                    <div class="img_d">
                        <div class="img_container">
                            <img src="/images/articulos/ofertas/art03-ofertas.jpg"
                                alt="Interface-audio-behringer-U-Phoria-UMC22">
                        </div>
                        <div class="product">
                            <div class="detalles">
                                <p>Proucto:Audio-Behringer</p>
                                <p>Precio:$****</p>
                                <p>Cantidad</p>
                                <div class="mas">
                                    <i class="fas fa-plus-circle"></i>
                                    <p>01</p>
                                    <i class="fas fa-minus-circle"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="total">
                        <p>Subtotal:$****</p>
                        <p>Total:$****</p>
                    </div>
                </div>
            </div>
            <div class="box-button">
                <button type="submit">Continuar</button>
            </div>
        </section>
        <section class="pago">
            <div class="metodo">
                <section>
                    <label for="debito">Tarjeta de debito</label>
                    <input type="radio" id="debito" name="pago" value="dbto">
                </section>
                <section>
                    <label for="credito">Tarjeta de credito</label>
                    <input type="radio" id="credito" name="pago" value="credito">
                </section>
                <section class="efectivo">
                    <label for="efectivo">Efetivo</label>
                    <input type="radio" id="efectivo" name="pago" value="efect">
                </section>
            </div>
            <form action="">
                <input type="number" name="numero de tarjeta" id="numero de tarjeta" placeholder="numero de tarjeta">
                <div class="box-card">
                    <button type="submit" i class="fab fa-cc-visa"></i></button>
                    <button type="submit" i class="fab fa-cc-mastercard"></i></button>
                </div>
                <select name="numero de cuotas" id="numero de cuotas">
                    <option value="" selected hidden>Numero de cuotas</option>
                    <option value="dos">2</option>
                    <option value="tres">3</option>
                    <option value="cuatro">4</option>
                    <option value="cinco">5</option>
                    <option value="diez">10</option>
                    <option value="doce">12</option>
                </select>
                <input type="name" name="" id="nombre" placeholder="nombre como figura en la tarjeta">
                <input type="number" name="codigo" id="codigo" placeholder="codigo postal">
                <input type="number" name="DNI" id="DNI" placeholder="DNI">
                <div class="box-form-n">
                    <strong>
                        <p>Fecha de Nacimiento</p>
                    </strong></strong>
                    <input type="date" name="fecha"></input>
                </div>
            </form>
            <div class="compra">
                <div class="img_d">
                    <div class="img_container">
                        <img src="/images/articulos/ofertas/art03-ofertas.jpg"
                            alt="Interface-audio-behringer-U-Phoria-UMC22">
                    </div>
                    <div class="product">
                        <div class="detalles">
                            <p>Proucto:Audio-behringer</p>
                            <p>Precio:$****</p>
                            <p>Cantidad</p>
                            <div class="mas">
                                <i class="fas fa-plus-circle"></i>
                                <p>01</p>
                                <i class="fas fa-minus-circle"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="total">
                    <p>Subtotal:$****</p>
                    <p>Total:$****</p>
                </div>
            </div>
        </section>
        <section class="rsm">
            <div class="metodo">
                <section>
                    <label for="debito">Tarjeta de debito</label>
                    <input type="radio" id="debito" name="pago" value="dbto">
                </section>
                <section>
                    <label for="credito">Tarjeta de credito</label>
                    <input type="radio" id="credito" name="pago" value="credito">
                </section>
                <section class="efectivo">
                    <label for="efectivo">Efetivo</label>
                    <input type="radio" id="efectivo" name="pago" value="efect">
                </section>
            </div>
            <div class="button-pago">
                <button type="submit">Rapipago</button>
                <button type="submit">Sucursal</button>
                <button type="submit">Mercado pago</button>
            </div>
            <a href="">
                <div class="button-final">
                    <button type="submit">Finalizar Compra</button>
                </div>
            </a>
        </section>
    </main>
    <footer>

        <div class="div_grid">
            <div class="div_logo_footer logo-incompleto">
                <img src="/images/logo/logo.svg" alt="Logo-ali-Music">
            </div>
            <div class="div_logo_footer logo-completo">
                <img src="/images/logo/logo-completo.svg" alt="Logo-ali-Music">
            </div>

            <div class="div_navegacion_footer">
                <ul>
                    <li><a href=""><i class="fas fa-home"></i> Inicio</a></li>
                    <li><a href=""><i class="fas fa-money-bill-alt"></i> Tienda</a></li>
                    <li><a href=""><i class="fas fa-id-card"></i> Contacto</i></a></li>
                    <li><a href=""><i class="fas fa-guitar"></i> Comunidad</i></a></li>
                </ul>
            </div>

            <div class="div_contacto">
                <div class="div_contacto_mail">
                    <a href=""><i class="fas fa-envelope"></i></a>
                    <a href="">Grupo2@gmail.com</a>
                </div>
                <div>
                    <a href=""><i class="fab fa-whatsapp-square"></i></a>
                    <a href="">+54 11-2233-4455</a>
                </div>
            </div>

            <div class="div_redes">
                <a href=""><i class="fab fa-instagram-square"></i></a>
                <a href=""><i class="fab fa-facebook-square"></i></a>
                <a href=""><i class="fab fa-twitter-square"></i></a>
            </div>
        </div>

    </footer>
</body>

</html>