<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ali Music</title>
    <script src="https://kit.fontawesome.com/b22398ad75.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="details">
    <header>

        <div class="flex-container">
            <div class="div_logo_header">
                <a href="/">
                    <img src="/images/logo/logo-de-lado.svg" alt="logo-aLi-Music">
                </a>
            </div>
            
            <div class="div_cuenta">
                <a href="/login">Mi cuenta</a>
            </div>

            <div class="div_favoritos">
                <a href=""><i class="far fa-star"></i></a>
            </div>
            
            <div class="div_carrito">
                <a href="/productcart">1</a>
                <a href="/productcart"><i class="fas fa-shopping-cart"></i></a>
            </div>
            
            <div class="div_burger">
                <a href=""><i class="fas fa-bars"></i></a>
            </div>
            
            <div class="div_barra_de_busqueda">
                <input type="text" name="barra" id="">
                <a href=""><i class="fas fa-search"></i></a>
            </div>
            
        </div>
        <div class="div_navegacion_header">
            <ul class="ul_navegacion_header">
                <li><a href="/"><i class="fas fa-home"></i>Inicio</a></li>
                <li><a href="/store"><i class="fas fa-money-bill-alt"></i>Tienda</a></li>
                <li><a href="/contact"><i class="fas fa-id-card"></i>Contacto</a></li>
                <li><a href="/comunity"><i class="fas fa-guitar"></i>Comunidad</a></li>
            </ul>
            <ul class=ul_cuenta>
                <li><a href="/register"><i class="fas fa-save"></i>Register</a></li>
                <li><a href="/login"><i class="fas fa-sign-in-alt"></i>Acceder</a></li>
            </ul>
        </div>
    </header>
    <main>
       <div class="box-product">
            <div class="product">
                <div class="img">
                    <img src="/images/articulos/descuentos/art04-descuentos.jpg" alt=""><i class="far fa-star"></i>
                </div>
                <div class="contain">
                    <div class="name">
                        <i class="fas fa-angle-double-left"></i>
                        <h2>Nombre del producto</h2>
                            <i class="fas fa-angle-double-right"></i>
                    </div>
                    <div class="descripcion">
                        
                        <p>$ 40587</p>
                    
                        <a href="/productCart">
                            <i class="fas fa-shopping-cart"></i><p>Comprar</p>
                        </a>
           
                        <div class="cant">
                            <button type="button">-</button>
                            <span>01</span>
                            <button type="button">+</button>
                            <p>Cantidad</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="detalles">
                <h3>Detalles del producto</h3>
                <ul>
                    <li>Marca: Squier by Fender</li>
                    <li>Linea: Bullet</li>
                    <li>Modelo: Telecaster</li>
                    <li>Año de lanzamiento: 2020</li>
                    <li>Origen: Indonesia</li>
                    <li>Orientacion de la mano: Diestro</li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
       </div>
        <section class="relacionados">
            <h2>Productos relacionados</h2>
            <article>
                    <a>
                        <img src="/images/articulos/visita/art03-visita.jpg" alt=""><i class="far fa-star"></i>
                    </a>
                    <p>Articulo 1</p>
                    <p>$ 13450</p>
                    <button>Ver Más</button>
            </article>
            <article>
                    <a>
                        <img src="/images/articulos/visita/art01-visita.jpg" alt=""><i class="far fa-star"></i>
                    </a>
                    <p>Articulo 2</p>
                    <p>$ 40587</p>
                    <button>Ver Más</button>
            </article>
            <article>
                    <a>
                        <img src="/images/articulos/visita/art02-visita.jpg" alt=""><i class="far fa-star"></i>
                    </a>
                    <p>Articulo 3</p>
                    <p>$ 13450</p>
                    <button>Ver Más</button>
            </article>
            <article>
                    <a>
                        <img src="/images/articulos/visita/art04-visita.jpg" alt=""><i class="far fa-star"></i>
                    </a>
                    <p>Articulo 4</p>
                    <p>$ 40587</p>
                    <button>Ver Más</button>
            </article>
        </section>
    </main>
    <footer>

        <div class="div_grid">
            <div class="div_logo_footer logo-incompleto">
                <img src="/images/logo/logo.svg" alt="Logo-ali-Music">
            </div>
            <div class="div_logo_footer logo-completo">
                <img src="/images/logo/logo-completo.svg" alt="Logo-ali-Music">
            </div>
            
            <div class="div_navegacion_footer">
                <ul>
                    <li><a href=""><i class="fas fa-home"></i> Inicio</a></li>
                    <li><a href=""><i class="fas fa-money-bill-alt"></i> Tienda</a></li>
                    <li><a href=""><i class="fas fa-id-card"></i> Contacto</i></a></li>
                    <li><a href=""><i class="fas fa-guitar"></i> Comunidad</i></a></li>
                </ul>
            </div>
            
            <div class="div_contacto">
                <div class="div_contacto_mail">
                    <a href=""><i class="fas fa-envelope"></i></a>
                    <a href="">Grupo2@gmail.com</a>
                </div>
                <div>
                    <a href=""><i class="fab fa-whatsapp-square"></i></a>
                    <a href="">+54 11-2233-4455</a>
                </div>
            </div>
            
            <div class="div_redes">
                <a href=""><i class="fab fa-instagram-square"></i></a>
                <a href=""><i class="fab fa-facebook-square"></i></a>
                <a href=""><i class="fab fa-twitter-square"></i></a>
            </div>
        </div>
        
    </footer>
</body>
</html>