<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <script src="https://kit.fontawesome.com/b22398ad75.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="register">
    <header>

        <div class="flex-container">
            <div class="div_logo_header">
                <img src="/images/logo-de-lado.svg" alt="logo aLi Music">
            </div>
            
            <div class="div_cuenta">
                <a href="">Mi cuenta</a>
            </div>
            
            <div class="div_carrito">
                <a href="">1</a>
                <a href=""><i class="fas fa-shopping-cart"></i></a>
            </div>
            
            <div class="div_burger">
                <a href=""><i class="fas fa-bars"></i></a>
            </div>
            
            <div class="div_barra_de_busqueda">
                <input type="text" name="barra" id="">
                <a href=""><i class="fas fa-search"></i></a>
            </div>
        </div>

    </header>
    <main>


    </main>
</body>
</html>