body.contact main.about div.about div.container_seccion{
    box-shadow: 0px 0px 5px 0px;
    background-color:white;
    margin: 30px 15px 0px 15px;
    border-radius: 5px;
   }
body.contact main.about div.about section article img{
    width: 100%;
    padding: 20px 10px;
    text-align: center;
}
body.contact main.about div.about section article div.img{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 5px;
    text-align: center;
}
body.contact main.about div.about section h2{
    font-size: 15px;
    text-align: center;
    background-color: var(--color-h1-rgba);
    color: var(--color-h1);
    margin-top: 10px;
    padding: 5px 0px;
}
body.contact main.about div.about section p{
    font-size: 12px;
    padding: 10px 25px;
    line-height: 22px;
  margin: 10px 0;
}
body.contact main.about div.about section ul{
    font-size: 10px;
    text-transform: uppercase;
}
body.contact main.about div.about section ul li{
    padding:6px 0px;
    margin-left: 5px; 
}
body.contact main.about div.about section article div.lista{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}
@media (min-width:425px){
    body.contact main.about div.about section h2{
        font-size: 25px;
    }
    body.contact main.about div.about section ul li{
        padding:15px 0px;
        margin: 0 10px;
        }
    body.contact main.about div.about section article div.lista div.img-i{
        display: inline-flex;
        max-width: 950px;
        }
       
 @media (min-width:769px){
            body.contact main.about div.about section p{
                font-size: 17px;
                line-height: 30px;
                }
                body.contact main.about div.about section article div.lista{
                    flex-wrap: wrap;
                }
        body.contact main.about div.about section ul{
            font-size: 15px;
            text-transform: uppercase;
            display: inline-flex;
           align-items: center;
    
            }
        }
}