@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}
body{
    height: 100%;
    background-image: url(https://images.unsplash.com/photo-1517999144091-3d9dca6d1e43?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1164&q=80);
    max-height: 715px;
    width: calc(100% - 40px);
    height: 100%;
    position: absolute;
    right:0;
}
@media (min-width: 425px){
    body{
        width: calc(100% - 55px);
    }
}

@media (min-width: 769px){
    body{
        width: 100%;
    }
}

:root{
    --color-background: #fff;
    --color-nav-header: #474a5680;
    --color-header: #17110e;
    --color-footer: #17110e;
    --color-a-footer: #fff;
    --color-a-header: #fff;
    --color-art-div: #686868;
    --color-border-art: #ff4500;
    --color-border-navegacion: #000;
    --color-h1: #000;
    --color-art-off: #ebebeb;
    --color-art-precio: #ebebeb;
    --color-h1-rgba: #474a5680;
    --color-a-fav: #ff4500;
    --font-family: 'roboto', sans-serif;
}
