@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}
body{
    background-color: var(--color-background);
    /* background-image: url("/images/asd.jpg");
    background-repeat: no-repeat;
    background-size: 100%; 
    background-position:fixed; */
}

:root{
    --color-background: #dae0e6;
    --color-nav-header: #474a5680;
    --color-header: #17110e;
    --color-footer: #17110e;
    --color-a-footer: #fff;
    --color-a-header: #fff;
    --color-art-div: #17110e;
    --color-border-art: #ff4500;
    --color-border-navegacion: #000;
    --color-h1: #fff;
    --color-art-off: #ebebeb;
    --color-art-precio: #ebebeb;
    --color-h1-rgba: #17110e;
    --color-a-fav: #ff4500;
    --font-family: 'roboto', sans-serif;
}
