
.home{
    height: 100%;
    background-image: url(https://images.unsplash.com/photo-1517999144091-3d9dca6d1e43?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1164&q=80);
}
.home main .div_carrusel{
    display : none;
}

.home main .div_banner img{
    display: none;
    width: 100%;
    height: 90px;
}
.home header .logo_header{
    
}
.home main section{
    color: var(--color-header);
}

.home main .div_container{
    height: 100%;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
}

.home main .div_container .art{
    background-color: var(--color-art);
    position: relative;
    background-color: transparent;
    height: 100vh;
    border-bottom: 1px solid #fff;
}
.home main .div_container .art .div_img{
    width: 100%;
    height: 90vh;
    position: relative;
    background-color: transparent;
}
.home main section .art .div_img img{
    height: 65%;
    position: absolute;
    object-fit: contain;
    background-color: transparent;
    align-self: center;
    left: 42%;
    top: 30%;
}
.home main .div_container .art .name{
    position: absolute;
    color: #fff;
    left: 4%;
    top: 5%;
    font-size: 26px;
    text-transform: uppercase;
    width: 100px;
}
.home main .div_container .art .box_description{
    position: absolute;
    left: 4%;
    top: 40%;
    width: 125px;
}
.home main .div_container .art .description{
    position: absolute;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
}
.home main .div_container .art .div_price{
    border-top: 1px solid #fff;
    padding-top: 15px;
    margin-top: 15px;
    display: flex;
    justify-content: space-evenly
}
.home main .div_container .art .div_price .off{
    font-size: 10px;
    color: #fff;
}
.home main .div_container .art .div_price .precio{
    font-size: 12px;
    color: #fff;
}


@media (min-width: 425px) {
    .home h1{
        width: 97%;
    }
    .home main .div_carrusel{
        display: block;
        position: relative;
    }
    .home main .div_banner{
        display: none;
    }
    .home main .div_carrusel img{
        width: 100%;
        height: 276px;
        object-fit: cover;
    }
    .home main .div_carrusel a{
        position: absolute;
        color: #fff;
    }
    .home main .div_carrusel a.right{
        right: 5px;
        top: 47%;
    }
    .home main .div_carrusel a.left{
        left: 5px;
        top: 50%;
    }
    .home main section{
        padding-top: 1px;
    }
    /* carrusel */
    .home main .div_carrusel .slider{
        position: relative;
        width: 100%;
        height: 276px;
      }
      
    .home main .div_carrusel ul.slider li {
        position: absolute;
        left: 0px;
        top: 0px;
        opacity: 0;
        width: inherit;
        height: inherit;
        transition: opacity .5s;
    }
    
    .home main .div_carrusel ul.slider li img{
        width: 100%;
        height: 350px;
        object-fit: cover;
    }
    
    .home main .div_carrusel ul.slider li:first-child {
        opacity: 1;
    }
    
    .home main .div_carrusel ul.slider li:target {
        opacity: 1;
    }
    .home main .div_carrusel .menu{
        margin-top: 30px;
        margin-bottom: 10px;
        display: grid;
        grid-template-columns: auto auto auto;
    }
    
    .home main .div_carrusel .menu li{
        margin: 0 auto;
        background-color: grey;
        padding: 20px;
        width: 20px;
        height: 20px;
        border-radius: 100%;
        position: relative;
    }
    .home main .div_carrusel .menu li a{
        position: absolute;
        left: 15px;
        top: 12px;
    }
    .home main .div_container{ 
        grid-template-columns: 45% 45%; 
    }
}

@media (min-width:769px){
    .home main section{
        width: 80%;
        padding: 40px 10px;
        margin: 20px auto;
        box-shadow: 0px 0px 8px 0px;
    }
    .home h1{
        margin: 0 auto;
        margin-bottom: 30px;
    }
    .home main .div_container{  
        grid-template-columns: 23% 23% 23% 23%;
        max-width: 1000px;
        margin: 0 auto;
    }
    .home main .div_container .art .div_price .off{
        font-size: 12px;
    }
    .home main .div_container .art .div_price .precio{
        font-size: 14px;
    }
    .home main .descuentos{
    padding-bottom: 50px;
}
}