.home h1{
    color: var(--color-h1);
    text-align: center;
    padding: 15px 0;
    background-color: var(--color-h1-rgba);
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 4px;
    border-radius: 8px 8px 0 0;
}

.home main .div_carrusel{
    display : none;
}


.home main .div_banner img{
    width: 100%;
    height: 90px;
}
.home main section{
    width: 90%;
    margin: 25px auto;
    background: linear-gradient(to top, #686868,#FEFEFE);
/*     background-color: #fff; */
    box-shadow: 0 3px 3px 0px;
    color: var(--color-header);
    border-radius: 8px;
}

.home main .div_container{
    display: grid;    
    grid-template-columns: 80%;
    justify-content: space-around;  
}

.home main .div_container .art{
    background-color: var(--color-art);
    /* border: 1px solid var(--color-border-art); */
    margin: 10px 0;
    position: relative;
    transition: transform .5s;
    background-color: var(--color-art-div);
    border-radius: 8px;
}
.home main .div_container .art:hover{
    transform: scale(1.2);
    z-index: 10;
}

.home main .div_container .art .a_img{
    width: 100%;
    height: 150px;
    display : flex;
    position: relative;
    background-color: #fff;
    border-radius: 8px 8px 0px 0px;
}

.home main section .art a img{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: contain;
    border-radius: 8px;
}

.home main .div_container .art div{
    padding: 5px;
    border-top: 1px solid var(--color-border-art);
}

.home main .div_container .art div .off{
    font-size: 10px;
    color: var(--color-art-off);
}
.home main .div_container .art div .precio{
    font-size: 12px;
    color: var(--color-art-precio);
}
.home main .div_container .art .nav_fav{
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 10;
    height:20px;
}
.home main .div_container .art .nav_fav a{
    color: var(--color-a-fav);
}


@media (min-width: 425px) {
    .home h1{
        width: 97%;
    }
    .home main .div_carrusel{
        display: block;
        position: relative;
    }
    .home main .div_banner{
        display: none;
    }
    .home main .div_carrusel img{
        width: 100%;
        height: 276px;
        object-fit: cover;
    }
    .home main .div_carrusel a{
        position: absolute;
        color: #fff;
    }
    .home main .div_carrusel a.right{
        right: 5px;
        top: 47%;
    }
    .home main .div_carrusel a.left{
        left: 5px;
        top: 50%;
    }
    .home main section{
        padding-top: 1px;
    }
    /* carrusel */
    .home main .div_carrusel .slider{
        position: relative;
        width: 100%;
        height: 276px;
      }
      
    .home main .div_carrusel ul.slider li {
        position: absolute;
        left: 0px;
        top: 0px;
        opacity: 0;
        width: inherit;
        height: inherit;
        transition: opacity .5s;
    }
    
    .home main .div_carrusel ul.slider li img{
        width: 100%;
        height: 350px;
        object-fit: cover;
    }
    
    .home main .div_carrusel ul.slider li:first-child {
        opacity: 1;
    }
    
    .home main .div_carrusel ul.slider li:target {
        opacity: 1;
    }
    .home main .div_carrusel .menu{
        margin-top: 30px;
        margin-bottom: 10px;
        display: grid;
        grid-template-columns: auto auto auto;
    }
    
    .home main .div_carrusel .menu li{
        margin: 0 auto;
        background-color: grey;
        padding: 20px;
        width: 20px;
        height: 20px;
        border-radius: 100%;
        position: relative;
    }
    .home main .div_carrusel .menu li a{
        position: absolute;
        left: 15px;
        top: 12px;
    }
    .home main .div_container{ 
        grid-template-columns: 45% 45%; 
    }
}

@media (min-width:769px){
    .home main section{
        width: 80%;
        padding: 40px 10px;
        margin: 20px auto;
        box-shadow: 0px 0px 8px 0px;
    }
    .home h1{
        margin: 0 auto;
        margin-bottom: 30px;
    }
    .home main .div_container{  
        grid-template-columns: 23% 23% 23% 23%;
        max-width: 1000px;
        margin: 0 auto;
    }
    .home main .div_container .art div .off{
        font-size: 12px;
    }
    .home main .div_container .art div .precio{
        font-size: 14px;
    }
    .home main .descuentos{
    padding-bottom: 50px;
}
}