/* Menu desplegable */
  
.sidebar{
    opacity: 0;
    transition: all 0.5s ease;
    transform:matrix()
}

.sidebar.active{
    opacity: 1;
    transition: all 0.5s ease;
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100vh;
    z-index: 20;
    background-color: #11101d;
}
.sidebar p{
    display: none;
    font-size: 11px;
}
.sidebar.active p{
    display: inline-block;
    transition: all .4s ease;
}
.sidebar .logo_content{
    display: none;
}
.sidebar.active .logo_content{
    display: block;
    border-bottom: 1px solid #fff;  
    height: 10.2vh;
}
.sidebar.active .logo_content .logo{
    color: #fff;
    display: flex;
    height: 53px;
    width: 100%;
    align-items: center;
    pointer-events: none;
}
.sidebar.active .logo_content .logo i{
    font-size:25px;
    margin-right: 5px;
    margin-left: 5px;
}
.sidebar.active .logo_content .logo .logo_name{
    font-weight: 400;
}
.sidebar.active .logo_content .logo .logo_name p{
    font-size: 20px;
}
.sidebar.active .logo_content #btn{
    color: #fff;
    position: absolute;
    right: 0;
    top: 1.5%;
    font-size: 16px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
}
.sidebar ul{
    display: none;
}
.sidebar.active ul{
    display: block;
    position: relative;
    margin-top: 20px;
    z-index: 10;
}

.sidebar.active ul li{
    height: 30px;
    width: 100%;
    position: relative;
    margin: 10px auto;
    line-height: 50px;
}

.sidebar.active ul li input{
    position: absolute;
    height: 33px;
    width: 96%;
    left: 4px;
    top: 0;
    border-radius: 12px;
    outline: none;
    border: none;
    padding-left: 35px;
    text-indent: 5px;
    font-size: 14px;
    color: #fff;
    background: #000;
}
.sidebar.active ul li .fa-search{
    position: absolute;
    z-index: 11;
    color: #fff;
    font-size: 14px;
    top: 30%;
    left: 13px;
}
.sidebar.active ul li a{
    color: #fff;
    display: flex;
    align-items: center;
    transition: all .4s ease;
    border-radius: 12px;
}
.sidebar.active ul li a:hover{
    color: #11101d;
    background: #fff
}
.sidebar.active ul li a i{
    height: 50px;
    min-width: 40px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
    margin-right: 5px;
}
.sidebar.active .profile_content{
    position: absolute;
    color: #fff;
    bottom: 0;
    left: 0;
}
.sidebar.active .profile_content .profile{
    position: relative;
    padding: 10px 7px;
    width: 75%;
    height: 70px;
}

.sidebar.active .profile_content .profile_details{
    display: flex;
    align-items: center;
}
.sidebar .profile_content .profile_details img{
    display: none;
}
.sidebar.active .profile_content .profile_details img{
    display: block;
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 12px;
}
.sidebar.active .profile_content .profile_details .name_job{
    width: 160px;
    margin-left: 10px;
    transition: all 0.5s ease;
}
.sidebar.active .profile_content .profile_details .name{
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 10px;
    color: #fff;
}
.sidebar.active .profile_content .profile_details .job{
    font-size: 12px;
}
.sidebar.active .profile_content .profile #log_out{
    position: absolute;
    left: 100%;
    bottom: 0px;
    transform: translateX(-50%);
    line-height: 50px;
    font-size: 20px;
    border-radius: 12px;
}
@media (min-width: 425px){
    .sidebar.active {
        width: 250px;
    }
    .sidebar.active p{
        font-size: 16px
    }
    .sidebar.active ul li{
        height: 35px;
    }
    .sidebar.active ul li .fa-search{
        font-size: 18px;
        left: 9%;
    }
    .sidebar.active ul li input{
        height: 40px;
        font-size: 18px;
        padding-left: 22%;
    }
    .sidebar.active .profile_content .profile{
        width: 100%;
        height: 80px;
    }
    .sidebar.active .logo_content .logo{
        padding-top: 20px;
        padding-left: 25px;
    }
    .sidebar.active .logo_content .logo .logo_name p{
        font-size: 40px;
    }
    .sidebar.active .logo_content #btn{
        font-size: 20px;
    }
    .sidebar.active ul li a i {
        min-width: 60px;
    }
}
@media (min-width: 769px){
    .sidebar.active {
        width: 300px;
    }
    .sidebar.active p{
        font-size: 24px
    }
    .sidebar.active ul li{
        height: 40px;
    }
    .sidebar.active ul li input{
        padding-left: 25%;
    }
    .sidebar.active ul li .fa-search{
        font-size: 18px;
        left: 10%;
    }
    .sidebar.active .profile_content .profile{
        width: 120%;
        height: 120px;
    }
    .sidebar.active .logo_content .logo .logo_name p{
        font-size: 32px;
    }
    .sidebar.active .logo_content #btn{
        font-size: 25px;
    }
    .sidebar.active ul li a i {
        min-width: 80px;
    }
}
