/* Menu desplegable */
    
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 40px;
    z-index: 20;
    transition: all 0.5s ease;
    border-right: 1px solid #fff;
}

.sidebar.active{
    width: 200px;
    transition: all 0.5s ease;
    background-color: #11101d;
}
.sidebar p{
    display: none;
    font-size: 11px;
    opacity: 0;
    transition: all .4s ease;
}
.sidebar.active p{
    display: inline-block;
    opacity: 1;
    transition: all .4s ease;
}
.sidebar.active p:hover{
    opacity: 1;
}
.sidebar .logo_content{
    border-bottom: 1px solid #fff;  
    height: 10vh;
}
.sidebar .logo_content .logo{
    color: #fff;
    display: flex;
    height: 53px;
    width: 100%;
    align-items: center;
    opacity: 0;
    pointer-events: none;
}

.sidebar.active .logo_content .logo{
    opacity: 1;
    pointer-events: none;
}

.sidebar .logo_content .logo i{
    font-size:25px;
    margin-right: 5px;
    margin-left: 5px;
}
.sidebar .logo_content .logo .logo_name{
    font-weight: 400;
}
.sidebar .logo_content .logo .logo_name p{
    font-size: 20px;
}
.sidebar .logo_content #btn{
    color: #fff;
    position: absolute;
    left: -5px;
    top: 6px;
    font-size: 16px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
}

.sidebar.active .logo_content #btn{
    left: 75%;
}
.sidebar ul{
    position: relative;
    margin-top: 20px;
    z-index: -1;
}

.sidebar.active ul {
    z-index: 10;
}

.sidebar ul li{
    height: 30px;
    width: 100%;
    position: relative;
    margin: 10px auto;
    line-height: 50px;
}

.sidebar ul li input{
    position: absolute;
    height: 33px;
    width: 90%;
    left: 2px;
    top: 0;
    border-radius: 12px;
    outline: none;
    border: none;
    background: transparent;
    padding-left: 35px;
    text-indent: 5px;
    font-size: 14px;
    color: #fff;
}
.sidebar.active ul li input{
    width: 96%;
    left: 4px;
    background: #000;
}

.sidebar ul li .fa-search{
    position: absolute;
    z-index: 11;
    color: #fff;
    font-size: 14px;
    top: 30%;
    left: 13px;
}
.sidebar ul li a{
    color: #fff;
    display: flex;
    align-items: center;
    transition: all .4s ease;
    border-radius: 12px;
}
.sidebar ul li a:hover{
    color: #11101d;
    background: #fff
}
.sidebar ul li a i{
    height: 50px;
    min-width: 40px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
    margin-right: 5px;
}
.sidebar .profile_content{
    position: absolute;
    color: #fff;
    bottom: 0;
    left: 0;
}
.sidebar .profile_content .profile{
    position: relative;
    padding: 10px 7px;
    width: 75%;
    height: 70px;
}

.sidebar .profile_content .profile_details{
    display: flex;
    align-items: center;
}
.sidebar .profile_content .profile_details img{
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 12px;
}
.sidebar .profile_content .profile_details .name_job{
    margin-left: 10px;
    opacity: 0;
    transition: all 0.5s ease;
}
.sidebar.active .profile_content .profile_details .name_job{
    width: 160px;
    opacity: 1;
    transition: all 0.5s ease;
}
.sidebar .profile_content .profile_details .name{
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 10px;
}
.sidebar .profile_content .profile_details .job{
    font-size: 12px;
}
.sidebar .profile_content .profile #log_out{
    position: absolute;
    left: 100%;
    bottom: 0px;
    transform: translateX(-50%);
    line-height: 50px;
    font-size: 20px;
    border-radius: 12px;
}
@media (min-width: 425px){
    .sidebar{
        width: 65px;
    }
    .sidebar.active{
        width: 250px;
    }
    .sidebar .logo_content{
        margin-left: 13px;
    }
    .sidebar .logo_content .logo .logo_name p{
        padding-left: 10px;
        font-size: 28px;
    }
    .sidebar .logo_content #btn{
        left: 5px;
        font-size: 22px;
        min-width: 65px;
    }
    .sidebar ul li .fa-search{
        font-size: 22px;
        left: 28px;
        top: 31%;
    }
    .sidebar ul li input{
        font-size: 22px;
        padding-left: 45px;
        height: 45px;
        width: 70%;
        left: 15px;
    }
    .sidebar.active ul li input{
        width: 92%;
        left: 15px;
    }
    .sidebar ul li{
        height: 40px;
        font-size: 22px;
    }
    .sidebar ul li p{
        font-size: 16px;
    }
    .sidebar ul li a i{ 
        min-width: 75px;
    }
    .sidebar .profile_content{
        left: 9px;
    }
    .sidebar .profile_content .profile_details img{
        height: 65px;
        width: 65px;
    }
    .sidebar .profile_content .profile_details .name p{
        font-size: 16px;    
    }
    .sidebar .profile_content .profile #log_out{
        left: 120%;
        bottom: -20px;
    }
}
@media (min-width: 769px){
    .sidebar{
        display: none
    }
}
