<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

    <body class="contact">
        <%- include('../partials/header') %>


            <main class="about">
                <div class="about">
                    <h1>Acerca de Ali Music</h1>
                    <section class="nosotros">
                        <h2>Sobre Nosotros</h2>
                        <article>
                            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum perspiciatis assumenda
                                iste, aut eius, culpa repudiandae debitis facilis quas laudantium consequatur,
                                reprehenderit quaerat minima dolor quidem. Aliquam amet nam, ullam mollitia quisquam
                                non fugit dolorem aperiam delectus repudiandae rerum eligendi. Animi distinctio
                                possimus numquam ipsam, quod culpa sed minus maxime minima, alias unde tenetur
                            </p>
                            <img src="/images/Guitar-shop_1920x1080.jpg" alt="">
                        </article>
                    </section>
                    <section>
                        <h2>A que nos enfocamos </h2>
                        <article>
                            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum perspiciatis assumenda
                                iste, aut eius, culpa repudiandae debitis facilis quas laudantium consequatur,
                            </p>
                            <ul>
                                <li>a</li>
                                <li>a</li>
                                <li>a</li>
                                <li>a</li>
                                <li>a</li>
                            </ul>
                        </article>
                    </section>
                    <section>
                        <h2>Contacto</h2>
                        <article>
                            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum perspiciatis assumenda
                                iste, aut eius, culpa repudiandae debitis facilis quas laudantium consequatur,
                                reprehenderit quaerat minima dolor quidem. Aliquam amet nam, ullam mollitia quisquam
                                non fugit dolorem aperiam delectus repudiandae rerum eligendi. Animi distinctio
                                possimus numquam ipsam, quod culpa sed minus maxime minima, alias unde tenetur
                            </p>
                        </article>
                    </section>
                </div>
            </main>

            <%- include('../partials/footer') %>

    </body>

</html>