<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

    <body class="contact">
        <%- include('../partials/header') %>


            <main class="about">
                <div class="about">
                    <h1>Acerca de Ali Music</h1>
                    <div class="container_seccion">
                        <section class="nosotros">
                            <h2>Sobre Nosotros</h2>
                            <article>
                                <p> Desde guitarras criollas para principiantes hasta micrófonos y amplificadores
                                    profesionales, la tienda de instrumentos musicales Ali Music dispone de
                                    una amplia gama de equipamiento musical. No importa si lo que buscas es un
                                    micrófono, un teclado musical, una batería electrónica o un bajo eléctrico, siempre
                                    te daremos asesoramiento en lo que necesites.
                                </p>
                                <div class="img">
                                    <img src="/images/Guitar-shop_1920x1080.jpg" alt="">
                                </div>
                            </article>
                        </section class="enfocamos">
                        <section>
                            <h2>A que nos enfocamos </h2>
                            <article>
                                <p> En Ali Music nos enfocamos en la venta de todo tipo de instrumento ,Tenemos algunas
                                    de las marcas más populares en stock, tales como Fender, Roland,
                                    Casio, Marshall, Ibanez,Behringer y Shure, sin olvidar que somos distribuidores
                                    oficiales Yamaha para instrumentos musicales y audio en Argentina.
                                    Buscamos darte un excelente servicio y un gran precio en tu próxima compra de
                                    instrumentos musicales.:
                                </p>
                                <div class="lista">
                                    <ul>
                                            <li><strong>Instrumentos de cuerdas</strong></li>
                                            <li><strong>Instrumentos de viento</strong</li>
                                            <li><strong>Instrumentos de percusión</strong</li>
                                            <li><strong>Teclados y pianos</strong</li>
                                            <li><strong>Micrófonos y amplificadores</strong</li>
                                            <li><strong>Equipo de grabación</strong</li>
                                            <li><strong>Otros</li>
                                    </ul>
                                    <div class="img-i">
                                        <img src="/images/instrumentos-musicales.jpg" alt="">
                                    </div>
                                </div>
                            </article>
                        </section>
                    </div>
                </div>
            </main>

            <%- include('../partials/footer') %>

    </body>

</html>