<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

    <body class="contact">
        <%- include('../partials/header') %>


            <main class="about">
                <div class="about">
                    <h1>Acerca de Ali Music</h1>
                    <div class="container_seccion">
                    <section class="nosotros">
                        <h2>Sobre Nosotros</h2>
                        <article>
                            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum perspiciatis assumenda
                                iste, aut eius, culpa repudiandae debitis facilis quas laudantium consequatur,
                                reprehenderit quaerat minima dolor quidem. Aliquam amet nam, ullam mollitia quisquam
                                non fugit dolorem aperiam delectus repudiandae rerum eligendi. Animi distinctio
                                possimus numquam ipsam, quod culpa sed minus maxime minima, alias unde tenetur
                            </p>
                            <div class="img">
                                <img src="/images/Guitar-shop_1920x1080.jpg" alt="">
                            </div>
                        </article>
                    </section class="enfocamos">
                    <section>
                        <h2>A que nos enfocamos </h2>
                        <article>
                            <p> En Ali Music nos enfocamos en la venta de todo tipo dentro del mundo musical como :
                            </p>
                            <div class="lista">
                            <ul>
                                <li>Instrumentos de cuerdas</li>
                                <li>Instrumentos de viento</li>
                                <li>Instrumentos de percusión</li>
                                <li>Teclados y pianos </li>
                                <li>Micrófonos y amplificadores</li>
                                <li>Equipo de grabación</li>
                                <li>Otros</li>
                            </ul>
                            <div class="img-i">
                            <img src="/images/instrumentos-musicales.jpg" alt="">
                        </div>
                        </div>
                        </article>
                    </section>
                    <section>
                        <h2>Contacto</h2>
                        <article>
                            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum perspiciatis assumenda
                                iste, aut eius, culpa repudiandae debitis facilis quas laudantium consequatur,
                                reprehenderit quaerat minima dolor quidem. Aliquam amet nam, ullam mollitia quisquam
                                non fugit dolorem aperiam delectus repudiandae rerum eligendi. Animi distinctio
                                possimus numquam ipsam, quod culpa sed minus maxime minima, alias unde tenetur
                            </p>
                        </article>
                    </section>
                </div>
                </div>
            </main>

            <%- include('../partials/footer') %>

    </body>

</html>