<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

    <body class="privacity">
        <%- include('../partials/sidebar') %> 

            <main class="privacity-main container rounded bg-light p-5 mb-5">
                <div class="row mb-5">
                    <h1 class="text-primary h1">
                        POLÍTICA DE PRIVACIDAD
                    </h1>
                </div>
                <div>
                    <div class="mb-3">
                        <h1 class="h3">
                            1. INFORMACIÓN DEL SITIO WEB
                        </h1>
                    </div>
                    <div class="mb-3 pl-3">
                        <p class="h5">
                            Ali Music es una tienda de instrumentos musicales que ofrece una amplia gama de
                            instrumentos musicales para todos los gustos.
                        </p>
                    </div>
                    <div class="mb-3">
                        <h1 class="h3">
                            2. DATOS PERSONALES
                        </h1>
                    </div>
                    <div class="mb-3 pl-3">
                        <p class="h5">
                            Los datos personales que nos proporciones serán utilizados para la gestión de tu
                            cuenta, para la entrega de los productos que solicites, para la gestión de los pedidos
                            que realices, para la gestión de las comunicaciones con nosotros y para la gestión de
                            cualquier otro tipo de actividad relacionada con tu cuenta.
                        </p>
                    </div>
                    <div class="mb-3">
                        <h1 class="h3">
                            3. USO DE LA INFORMACIÓN
                        </h1>
                    </div>
                    <div class="mb-3 pl-3">
                        <p class="h5">
                            Utilizaremos la información que nos proporciones para responder a tus solicitudes,
                            comunicarte sobre nuevos productos, promociones y ofertas, así como para mejorar la
                            experiencia de navegación en nuestro sitio web.
                        </p>
                    </div>
                    <div class="mb-3">
                        <h1 class="h3">
                            4. DERECHOS DE PRIVACIDAD
                        </h1>
                    </div>
                    <div class="mb-3 pl-3">
                        <p class="h5">
                            Podrás ejercer tus derechos de acceso, rectificación, cancelación y oposición de
                            forma gratuita en nuestra página web.
                        </p>
                    </div>
                    <div class="mb-3">
                        <h1 class="h3">
                            5. CAMBIOS EN LA POLÍTICA DE PRIVACIDAD
                        </h1>
                    </div>
                    <div class="mb-3 pl-3">
                        <p class="h5">
                            Ali Music se reserva el derecho de modificar esta política de privacidad en cualquier
                            momento.
                        </p>
                    </div>
                    <!-- derechos reservador -->
                    <div class="mb-3">
                        <h1 class="h3">
                            6. DERECHOS RESERVADOS
                        </h1>
                    </div>
                    <div class="mb-3 pl-3">
                        <p class="h5">
                            Ali Music es una marca registrada de Grupo2.
                        </p>
                    </div>
                </div>
            </main>

            <%- include('../partials/footer') %>

    </body>

</html>