.comunity main {
  margin-top: 65px; }
  .comunity main .container-main {
    width: 95%;
    margin: 20px auto;
    color: var(--color-header);
    background-color: #fff;
    padding: 10px; }
    .comunity main .container-main .button_post {
      display: grid;
      grid-template-rows: 1fr 1fr 1fr;
      gap: 20px;
      width: 100%;
      justify-content: center;
      margin: 20px auto; }
      .comunity main .container-main .button_post button {
        opacity: 1;
        background-color: #47a386;
        border: 0;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        color: #fff;
        font-size: 14px;
        padding: 10px 25px;
        width: 100%; }
    .comunity main .container-main .modal-container {
      display: flex;
      background-color: rgba(0, 0, 0, 0.3);
      align-items: center;
      justify-content: center;
      position: fixed;
      pointer-events: none;
      opacity: 0;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100vw;
      transition: opacity 0.3s ease;
      z-index: 9; }
      .comunity main .container-main .modal-container .div_publicar button {
        background-color: #47a386;
        border: 0;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        color: #fff;
        font-size: 14px;
        padding: 10px 25px; }
      .comunity main .container-main .modal-container .div_publicar .video,
      .comunity main .container-main .modal-container .div_publicar .youtube,
      .comunity main .container-main .modal-container .div_publicar .text {
        background-color: #fff;
        width: 600px;
        max-width: 100%;
        padding: 30px 50px;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        text-align: center; }
    .comunity main .container-main .show {
      pointer-events: auto;
      opacity: 1; }
    .comunity main .container-main .div_filtrar {
      background-color: #fff;
      margin-bottom: 20px;
      border-radius: 3px;
      font-size: 11px;
      display: flex;
      align-items: center;
      justify-content: space-around; }
    .comunity main .container-main .section_post .art {
      background-color: #fff;
      border-radius: 3px;
      margin-bottom: 20px;
      padding: 5px 10px; }
      .comunity main .container-main .section_post .art h4 {
        margin-top: 5px;
        margin-bottom: 5px;
        border-bottom: 1px solid #696969; }
      .comunity main .container-main .section_post .art iframe {
        width: 100%;
        height: 50vh; }
      .comunity main .container-main .section_post .art img {
        height: 250px;
        object-fit: contain; }
      .comunity main .container-main .section_post .art .div_p {
        font-size: 11px;
        padding: 10px;
        background-color: #c6c6c6; }

@media (min-width: 425px) {
  .comunity main {
    margin-top: 90px; }
    .comunity main .container-main {
      width: 90%; } }

@media (min-width: 769px) {
  .comunity .container-main {
    width: 80%; }
  .comunity .div_publicar {
    align-items: center;
    justify-content: space-around;
    grid-template-columns: auto auto;
    grid-template-rows: auto; } }
