@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/* 'roboto', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rajdhani&display=swap");
/* font-family: 'Rajdhani', sans-serif; */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-family); }

li {
  list-style: none; }

a {
  text-decoration: none; }

body {
  background-image: url(https://images.unsplash.com/photo-1517999144091-3d9dca6d1e43?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1164&q=80);
  background-attachment: fixed;
  /* Fija la imagen de fondo */
  background-position: center;
  /* Fija la imagen de fondo */
  background-size: 100vw;
  /* Fija la imagen de fondo */
  max-height: 715px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0; }

main {
  margin-top: 10vh; }

.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: url("https://cdn.dribbble.com/users/634508/screenshots/3014903/media/6a7b371b12bcb42f92b2d041762a3a51.gif   ") 50% 50% no-repeat #fff; }

:root {
  --color-background: #fff;
  --color-nav-header: #474a5680;
  --color-header: #17110e;
  --color-footer: #17110e;
  --color-a-footer: #fff;
  --color-a-header: #fff;
  --color-art-div: #686868;
  --color-border-art: #ff4500;
  --color-border-navegacion: #000;
  --color-h1: #000;
  --color-art-off: #ebebeb;
  --color-art-precio: #ebebeb;
  --color-h1-rgba: #474a5680;
  --color-a-fav: #ff4500;
  --font-family: 'Rajdhani', sans-serif; }
