/*----------------------------------------
Slider 
----------------------------------------*/
.slideshow {
  position: relative;
  height: 90vh;
  z-index: 1; }
  .slideshow .img2 {
    display: none; }
  .slideshow .img1 {
    width: 100%;
    height: 100%; }

.slider {
  height: 100%;
  overflow: hidden; }
  .slider .item .slider img {
    transform: translateX(-50%) scale(1.4); }
  .slider img {
    min-width: 100%; }

/*----------------------------------------
Arrows
----------------------------------------*/
.slick-arrow {
  position: absolute;
  z-index: 10;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: none;
  cursor: pointer;
  font-size: 0;
  outline: none;
  width: 30px;
  height: 30px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%; }
  .slick-arrow:before {
    content: '';
    height: 30px;
    /* AGREGAR ICONO */
    background: url("/images/svg/arrow.svg") no-repeat center;
    z-index: 9999;
    display: block;
    opacity: .5;
    transition: all .5s ease-out; }
  .slick-arrow.slick-next {
    left: auto;
    right: 10px; }
    .slick-arrow.slick-next:before {
      transform: rotate(180deg); }
  .slick-arrow:hover:before {
    opacity: 1; }

@media (min-width: 769px) {
  .slideshow {
    position: relative;
    height: 90vh;
    z-index: 1; }
    .slideshow .img1 {
      display: none; }
    .slideshow .img2 {
      display: block; }
  .slick-arrow {
    left: 40%;
    top: 95%;
    width: 40px;
    height: 40px; }
    .slick-arrow:before {
      width: 40px; }
    .slick-arrow.slick-next {
      right: 40%; } }
