.store h1 {
  display: none;
  color: var(--color-h1);
  text-align: center;
  padding: 15px 0;
  background-color: var(--color-h1-rgba);
  max-width: 1000px;
  margin: auto;
  margin-bottom: 30px;
  margin-top: 4px;
  border-radius: 8px 8px 0 0; }

.store main .div_carrusel {
  display: none; }

.store .div_banner_carrusel {
  height: 90vh; }

.store .div_banner_carrusel img {
  width: 100%;
  height: 100%; }

.store main section {
  color: var(--color-header); }

.store main .div_container {
  height: 100%; }

.store main .div_container .art {
  background-color: var(--color-art);
  position: relative;
  height: 89.9vh;
  border: 1px solid #fff;
  border-radius: 15px;
  backdrop-filter: blur(4px);
  background: rgba(255, 255, 255, 0.05);
  margin-bottom: 15px; }

.store main .div_container .art .div_img {
  width: 100%;
  height: 80vh;
  position: relative;
  background-color: transparent; }

.store main section .art .div_img img {
  max-height: 45%;
  width: 90%;
  position: absolute;
  object-fit: contain;
  background-color: transparent;
  align-self: center;
  left: 5%;
  top: 35%; }

.store main .div_container .art .name {
  position: absolute;
  color: #fff;
  left: 4%;
  top: 5%;
  font-size: 26px;
  text-transform: uppercase; }

.store main .div_container .art .box_description {
  position: absolute;
  left: 4%;
  top: 40%;
  width: 125px;
  display: none; }

.store main .div_container .art .description {
  position: absolute;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase; }

.store main .div_container .art .a_buy {
  position: absolute;
  color: #fff;
  left: 40%;
  bottom: 0%;
  border: 1px solid #fff;
  border-radius: 8px;
  padding: 4px; }

.store main .div_container .art .div_price {
  border-top: 1px solid #fff;
  padding-top: 15px;
  margin-top: 15px;
  display: flex;
  justify-content: space-evenly; }

.store main .div_container .art .div_price .off {
  font-size: 10px;
  color: #fff; }

.store main .div_container .art .div_price .precio {
  font-size: 12px;
  color: #fff; }

@media (min-width: 425px) {
  .store h1 {
    width: 97%; }
  .store main .div_carrusel {
    display: block;
    position: relative; }
  .store main .div_banner {
    display: none; }
  .store main .div_carrusel img {
    width: 100%;
    height: 276px;
    object-fit: cover; }
  .store main .div_carrusel a {
    position: absolute;
    color: #fff; }
  .store main .div_carrusel a.right {
    right: 5px;
    top: 47%; }
  .store main .div_carrusel a.left {
    left: 5px;
    top: 50%; }
  /* carrusel */
  .store main .div_carrusel .slider {
    position: relative;
    width: 100%;
    height: 276px; }
  .store main .div_carrusel ul.slider li {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    width: inherit;
    height: inherit;
    transition: opacity .5s; }
  .store main .div_carrusel ul.slider li img {
    width: 100%;
    height: 350px;
    object-fit: cover; }
  .store main .div_carrusel ul.slider li:first-child {
    opacity: 1; }
  .store main .div_carrusel ul.slider li:target {
    opacity: 1; }
  .store main .div_carrusel .menu {
    margin-top: 30px;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: auto auto auto; }
  .store main .div_carrusel .menu li {
    margin: 0 auto;
    background-color: grey;
    padding: 20px;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    position: relative; }
  .store main .div_carrusel .menu li a {
    position: absolute;
    left: 15px;
    top: 12px; }
  .store main .div_container {
    grid-template-columns: 45% 45%; } }

@media (min-width: 769px) {
  .store main section {
    padding: 40px 10px;
    margin: 20px auto;
    box-shadow: 0px 0px 8px 0px; }
  .store h1 {
    margin: 0 auto;
    margin-bottom: 30px; }
  .store main .div_container {
    grid-template-columns: 23% 23% 23% 23%;
    max-width: 1000px;
    margin: 0 auto; }
  .store main .div_container .art .div_price .off {
    font-size: 16px; }
  .store main .div_container .art .div_price .precio {
    font-size: 20px; }
  .store main .descuentos {
    padding-bottom: 50px; } }
