@import url("general.css");
/* @import url('header.css'); */
@import url("footer.css");
@import url("sidebar.css");
@import url("index.css");
@import url("login.css");
@import url("productCart.css");
@import url("productdetail.css");
@import url("register.css");
@import url("comunity.css");
@import url("store.css");
@import url("about.css");
@import url("admin.css");
@import url("user.css");
@import url("carrusel.css");
@import url("search.css");

