/* INDEX */

.admin div.contain{
    overflow-x:auto;
}
.admin .oculto{
    display:none
}
.admin table{
    width: 90%;
    margin: 30px auto;
    background-color: #c6c6c6;
    text-align: center;
    box-shadow: 0 3px 3px 0px;
}
.admin table th,
.admin table td{
    background-color: #fff;
    padding: 0.3rem;
}
.admin table tbody tr td{
    height: 100px;
}
.admin table tbody .td_img{
    background-color: #fff;
}
.admin table tbody .td_img img{
    width: 100%;
    height: 70%;
    object-fit:contain
}
.admin table tbody .td_botton{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    height:120px
}
.admin table tbody .td_botton i{
    padding: 5px 10px;
    color: var(--color-a-fav)
}


/* ADD */
body.edit section.section-add,
body.add section.section-add{
    display: flex;
    flex-wrap: wrap;
}
.edit main form,
.add main form{
    width: 85%;
    margin: 15px auto;
    max-width: 500px;
}
.edit main form section,
.add main form section{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
}
.edit main form section .box-form,
.add main form section .box-form{
    margin-top: 30px;
    display: flex;
    width: 100%;
    flex-direction: column;
    color: #fff;
}
.edit main form section .box-form select,
.add main form section .box-form select{
    padding: 5px;
    border-radius: 5px;
    border: 1px solid;
}
.edit main form section .box-form div.box-i{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.edit main form section div.box-form div.img-subir input,
.add main form section div.img-subir input{
    border: none;
    margin: 0;
    width: 100%;
    padding: 0;
}
.add main form section .box-form input,
.edit main form section .box-form input{
    border: 1px solid;
    padding: 5px;
    font-size: 10px;
    border-radius: 5px;
}
.edit main form section .box-form textarea,
.add main form section .box-form textarea{
    resize:none
} 
.edit main form .box-button,
.add main form .box-button{
    text-align: center;
    margin-top: 10px;
}
.edit main form .box-button button,
.add main form .box-button button{
    padding: 5px 15px;
}

@media (min-width: 425px){

    .admin .oculto{
        display: table-cell
    }
}