$time: 500ms;
$delay: $time/2;
$mode: cubic-bezier(0.17, 0.67, 0.55, 1.43);
@keyframes heartbeat {
  0% {
    transform: scale(0);
  }
  25% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.home .slider-container {
    background-color: #deb887;
    position: relative;
    margin: 0 auto;
    height: 90vh;
  .slider-content {
    position: relative;
    left: 50%;
    top: 50%;
    width: 70%;
    height: 60%;
    transform: translate(-50%, -50%);
    .slider-single {
      position: absolute;
      z-index: 0;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      transition: z-index 0ms $delay;
      .slider-single-image {
        position: relative;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.2);
        transition: $time $mode;
        transform: scale(0);
        opacity: 0;
        object-fit: contain;
      }
      .slider-single-title {
        display: block;
        float: left;
        margin: 16px 0 0 20px;
        font-size: 20px;
        font-family: "karla";
        font-weight: 400;
        color: #000000;
        transition: $time $mode;
        opacity: 0;
      }
      &.preactivede {
        //z-index: 0;
        .slider-single-image {
          //opacity: 0;
          transform: translateX(-50%) scale(0);
          object-fit: contain;
        }
      }
      &.preactive {
        z-index: 1;
        .slider-single-image {
          opacity: 0.1;
          transform: translateX(-25%) scale(0.8);
          object-fit: contain;
        }
        .slider-single-title {
          transform: translateX(-150px);
        }
      }
      &.proactive {
        z-index: 1;
        .slider-single-image {
          opacity: 0.1;
          transform: translateX(25%) scale(0.8);
          object-fit: contain;
        }
        .slider-single-title {
          transform: translateX(150px);
        }
      }
      &.proactivede {
        //z-index: 0;
        .slider-single-image {
          //opacity: 0;
          transform: translateX(50%) scale(0);
          object-fit: contain;
        }
      }
      &.active {
        z-index: 2;
        .slider-single-image {
          opacity: 1;
          transform: translateX(0%) scale(1);
          object-fit: contain;
        }
        .slider-single-title {
          opacity: 1;
          transition-delay: 200ms;
          transform: translateX(0px);
        }
      }
    }
  }
  .slider-left {
    position: absolute;
    z-index: 3;
    display: block;
    right: 85%;
    top: 50%;
    color: #000000;
    transform: translateY(-50%);
    padding: 20px 15px;
    border-top: 2px solid #fdc84b;
    border-right: 2px solid #fdc84b;
    border-bottom: 2px solid #fdc84b;
    border-left: 2px solid #fdc84b;
    margin-right: -2px;
  }
  .slider-right {
    position: absolute;
    z-index: 3;
    display: block;
    left: 85%;
    top: 50%;
    color: #000000;
    transform: translateY(-50%);
    padding: 20px 15px;
    border-top: 2px solid #fdc84b;
    border-right: 2px solid #fdc84b;
    border-bottom: 2px solid #fdc84b;
    border-left: 2px solid #fdc84b;
    margin-left: -2px;
  }
  .not-visible {
    display: none !important;
  }
}
