.comunity main{
    margin-top: 65px;
    .container-main{
        width: 95%;
        margin: 20px auto;
        color: var(--color-header);
        background-color: #fff;
        padding: 10px;
        .button_post{
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: 100%;
            margin: 20px auto;
            align-items: center;
            button {
                opacity: 1;  
                background-color: #47a386;
                border: 0;
                border-radius: 5px;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
                color: #fff;
                font-size: 14px;
                padding: 10px 25px;
                width: 50%;
            }
        }

        .modal-text,
        .modal-video,
        .modal-youtube {
            display: flex;
            background-color: rgba(0, 0, 0, 0.8);
            align-items: center;
            justify-content: center;
            position: fixed;
            pointer-events: none;
            opacity: 0;  
            top: 0;
            left: 0;
            height: 100vh;
            width: 100vw;
            transition: opacity 0.3s ease;
            z-index: 99;
            .button-submit {
                width: 30%;
                background-color: #47a386;
                border: 0;
                border-radius: 5px;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
                color: #fff;
                font-size: 14px;
                padding: 10px 25px;
                position: absolute;
                bottom: 7%;
                right: 10%;
            }
            #video,
            #youtube,
            #text{
                position: relative;
                background-color: #fff;
                width: 600px;
                max-width: 95%;
                max-height: 75%;
                padding: 30px 5%;
                border-radius: 5px;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
                text-align: center;
                padding-bottom: 100px;
                .button-close {
                    width: 30%;
                    background-color: #47a386;
                    border: 0;
                    border-radius: 5px;
                    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
                    color: #fff;
                    font-size: 14px;
                    padding: 10px 25px;
                    position: absolute;
                    bottom: 7%;
                    left: 10%;
                }
            }
            .form-comunity{
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                gap: 30px;
                .input_text{
                    height: 30px;
                    width: 90%;
                    text-indent: 5px;
                }
                .input_textarea{
                    height: 50%;
                    width: 90%;
                    padding: 10px;
                }
            }
        }
            .show {
                pointer-events: auto;
                opacity: 1;
            }
        .div_filtrar{
            background-color: #fff;
            margin-bottom: 20px;
            border-radius: 3px;
            font-size: 11px;
            display:flex;
            align-items: center;
            justify-content: space-around;
        }
        .section_post .art{
            background-color: #fff;
            border-radius: 3px;
            margin-bottom: 20px;
            padding: 5px 10px;
            h4{
                margin-top: 5px;
                margin-bottom: 5px;
                border-bottom: 1px solid #696969;
            }
            iframe{
                width: 100%;
                height: 50vh;
            }
            img{
                height: 250px;
                object-fit: contain;
            }
            .div_p{
                font-size: 11px;
                padding: 10px;
                background-color: #c6c6c6;
            }
        }
    }
    
}
@media (min-width: 425px){
    .comunity main{
        margin-top: 110px;
    .container-main{
        width: 90%
        }
    }
    .button_post{
        flex-direction: row !important;
    }
}
@media (min-width: 769px){
    .comunity .container-main{
        width: 80%;
    }
    .comunity .div_publicar{
        align-items: center;
        justify-content: space-around;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
    }

    .button-submit {
        width: 20%;
        right: 20%;
    } .button-close {
        width: 20%;
        left: 20%;
    }
}

