
footer{
    background-color: #272727;
    padding: 5px 0; 
    height: 90vh;
}
footer a{
    color: #fff;
    transition: color .3s;
    padding: 5px 10px;
}
footer .div_grid{
    display:grid;
    grid-template-rows: auto 50px;
    height: 80%;
    margin: 1px;
    padding: 15px;
}
footer .div_grid .div_navegacion_footer{
    height: 100%;
    ul{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        align-content: space-around;
        height: 100%;
        li{
            padding-left: 5%;
            padding-bottom: 10px;
            border-bottom: 1px solid #9b9b9b;
            a{
                font-size: 16px;
            }
        }
    }
    
}
footer .div_grid .div_redes{ 
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    text-align: center;
    .instagram{
        font-size: 22px;
        border-radius: 10px;
        i{
            background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
            border-bottom-left-radius: 8px;
            border-top-left-radius: 8px;
            border-bottom-right-radius: 8px;
            border-top-right-radius: 8px;
            display: flex;
            align-content: center;
            flex-wrap: wrap;
            text-align: center;
            margin: 0 auto;
            height: 20px;
            width: 20px;
        }
    }
    .facebook{
        font-size: 22px;
        color: #3b5998;
    }
    .twitter{
        font-size: 22px;
        color: #00acee;
    }
}

footer .div_grid2{
    height: 20%;
}

footer .div_grid2 .div_terminos{
    height: 100%;
}
footer .div_grid2 .div_terminos ul{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
    text-align: center;
}
footer .div_grid2 .div_terminos ul li{
    width: 50%;
}

/* Modal contact */
footer{
    a#openContact{
        font-size: 16px;
        color: #fff;
    }
    button#closeContact,
    button.submitContact {
        background-color: #47a386;
        border: 0;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        color: #fff;
        font-size: 16px;
        padding: 8px 20px;  
    }
    .modal-contact {
        display: flex;
        background-color: rgba(0, 0, 0, 0.3);
        align-items: center;
        justify-content: center;
        position: fixed;
        pointer-events: none;
        opacity: 0;  
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        transition: opacity 0.3s ease;
        z-index: 9;
    }
    .show {
        pointer-events: auto;
        opacity: 1;
    }
    .model {
        background-color: #fff;
        width: 90%;
        height: 50%;
        max-width: 100%;
        padding: 10px 50px;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        text-align: center;
        position: relative;
    }
    #my-form{
        background-color: #fff;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .email{
            width: 100%;
            margin-bottom: 15px;
        }
        .textarea{
            width: 100%;
            height: 120px;
        }
        .submitContact{
            position: absolute;
            right: 15%;
            bottom: 10%;
        }
    }
    .closeContact{
        position: absolute;
        left: 15%;
        bottom: 10%;
    }
}
   
  
  
  
  
  
  

@media (min-width:425px){
    footer{
        height: 50vh;
        border: 1px solid #fff !important;
        .div_grid{
            grid-template-rows: auto;
            height: 70%;
        }
        .div_grid2{
            height: 30%;
        }
    }
    footer .div_grid2 li{
        display: flex;
        align-items: center;
        place-content: center;
    }
    footer .div_grid2 .div_terminos{
        height: 100%;
    }
    footer .div_grid2 .div_terminos ul{
        height: 100%;
    }
    footer a{
        font-size: 22px !important;
    }
    footer{
        .model{
            width: 637px;
            height: 400px;
            padding-top: 25px;
            button#closeContact,
            button.submitContact {
                padding: 12px 24px;  
            }
            #my-form{
                height: 60%;
                justify-content: space-between;
            }
        }
    }
}
@media (min-width:769px){
    header .i_sidebar #btn2{
        font-size: 25px;
    }
    footer .div_grid{
        display:grid;
        grid-template-columns: auto 100px;
        
        .div_redes{ 
            display: grid;
            grid-template-rows: auto auto auto;
            grid-template-columns: auto !important; 
        }
    }
}

