
/* -------------------- */

/* -------------------- */
.home main{
    margin-top: 0;
}
.header{
    background-color: transparent;
}
.header a{
    color: #fff;
}
.home main .div_carrusel{
    display : none;
}
.home main section{
    color: var(--color-header);
    background-color: #fff;
    
}
.home main .div_container{
    height: 100%;
}
.home main .div_container .art{
    background-color: var(--color-art);
    position: relative;
    background-color: transparent;
    height: 90vh;
    background-image: linear-gradient(to right bottom, #000000, #000000, #000000, #000000, #000000, #181818, #292929, #3b3b3b, #676767, #979797, #cacaca, #ffffff);
    border: 5px solid #fff;
}
.home main .div_container .art .div_img{
    width: 100%;
    height: 80vh;
    position: relative;
    background-color: transparent;
}
.home main section .art .div_img img{
    height: 65%;
    position: absolute;
    object-fit: contain;
    background-color: transparent;
    align-self: center;
    left: 10%;
    top: 30%;
    width: 88%;
}
.home main .div_container .art .name{
    position: absolute;
    color: #fff;
    left: 4%;
    top: 5%;
    font-size: 26px;
    text-transform: uppercase;
    width: 100px;
}
.slick-list,
    .slick-track{
        height: 100%;

    }
@media (min-width: 425px) {
    .home main .div_carrusel{
        position: relative;
    }
    .home main .div_banner{
        display: none;
    }
    .home main .div_carrusel img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .home main .div_carrusel a{
        position: absolute;
        color: #fff;
    }
    .home main .div_carrusel a.right{
        right: 5px;
        top: 47%;
    }
    
    .home main .div_carrusel a.left{
        left: 5px;
        top: 50%;
    }
    /* carrusel */
    .home main .div_carrusel .slider{
        position: relative;
        width: 100%;
        height: 276px;
      }
      
    .home main .div_carrusel ul.slider li {
        position: absolute;
        left: 0px;
        top: 0px;
        opacity: 0;
        width: inherit;
        height: inherit;
        transition: opacity .5s;
    }
    
    .home main .div_carrusel ul.slider li img{
        width: 100%;
        height: 350px;
        object-fit: cover;
    }
    
    .home main .div_carrusel ul.slider li:first-child {
        opacity: 1;
    }
    
    .home main .div_carrusel ul.slider li:target {
        opacity: 1;
    }
    .home main .div_carrusel .menu{
        margin-top: 30px;
        margin-bottom: 10px;
        display: grid;
        grid-template-columns: auto auto auto;
    }
    
    .home main .div_carrusel .menu li{
        margin: 0 auto;
        background-color: grey;
        padding: 20px;
        width: 20px;
        height: 20px;
        border-radius: 100%;
        position: relative;
    }
    .home main .div_carrusel .menu li a{
        position: absolute;
        left: 15px;
        top: 12px;
    }
    .home main .div_container{ 
        grid-template-columns: 45% 45%; 
    }
    .home main .div_container .art .name{
        font-size: 32px;
        width: 150px;
    }
    .home main .div_container .art .description{
        font-size: 20px;
    }
    .home main .div_container .art .div_price .off{
        font-size: 16px;
    }
    .home main .div_container .art .div_price .precio{
        font-size: 21px;
    }
}

@media (min-width:769px){
    /* .home .div_banner_carrusel{
        justify-content: center;
        display : flex;
        height: 80vh;
    }
    .home .div_banner_carrusel .img2{
        align-self: center;
        display : flex;
    }
    .home .div_banner_carrusel .img1{
        display : none;
    } */
    .home main .div_container .art .name{
        font-size: 40px;
        width: 200px;
    }
    .home main section{
    }
    .home h1{
        margin: 0 auto;
        margin-bottom: 30px;
    }
    .home main .div_container{  
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 1fr 1fr;
        height: 100%;
        border-top: 1px solid #fff;
        .art{
            height: 70vh;
            .div_img{
                height: 70vh;
                img{
                    transition: all .5s;
                }
                img:hover{
                    transform: scale(1.1);
                }
            }
        }
    }
}