/*========== GOOGLE FONTS ==========*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");


:root {
  --header-height: 3rem;
  --nav-width: 219px;
  --first-color: #000000;
  --first-color-light: #F4F0FA;
  --title-color: #000000;
  --text-color: #000000;
  --text-color-light: #000000;
  --body-color: #000000;
  --container-color: #F9F6FD;
  /* --container-color: #11101d; */
  --body-font: 'Poppins', sans-serif;
  --normal-font-size: .938rem;
  --small-font-size: .75rem;
  --smaller-font-size: .75rem;
  --font-medium: 500;
  --font-semi-bold: 600;
  --z-fixed: 100;
}
/*========== HEADER ==========*/

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: var(--container-color);
  padding: 0 1rem;
  z-index: var(--z-fixed);
}
.header-white{
  background-color: #fff !important;
  .header__logo,
  .header__toggle_2{
    color: #000 !important;
  }
  
  .header__toggle i{
    color: #000 !important;
  }
}
.header__container {
  display: flex;
  align-items: center;
  height: var(--header-height);
  justify-content: space-between;
}

.header__img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
}

.header__logo {
  color: var(--title-color);
  display: none;
  font-weight: var(--font-medium);
}

.header__search {
  display: flex;
  padding: .40rem .75rem;
  background-color: var(--first-color-light);
  border-radius: .25rem;
  align-items: center;
  justify-content: space-around;
}

.header__search form {
  width: 80%;
}

.header__toggle_2 {
  display: none;
}

.header__input {
  width: 100%;
  border: none;
  outline: none;
  background-color: var(--first-color-light);
}

.header__input::placeholder {
  font-family: var(--body-font);
  color: var(--text-color);
}

.header__icon, 
.header__toggle {
  font-size: 1.2rem;
  display: block;
}

.header__toggle {
  color: var(--title-color);
  cursor: pointer;
  i{
    color: #fff;
  }
}

/*========== NAV ==========*/
.nav {
  position: fixed;
  top: 0;
  left: -100%;
  height: 100vh;
  padding: 1rem 1rem 0;
  background-color: var(--container-color);
  box-shadow: 1px 0 0 rgba(22, 8, 43, 0.1);
  z-index: var(--z-fixed);
  transition: .4s;
  width: 150px;
}

.nav__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 3rem;
  overflow: auto;
  scrollbar-width: none; /* For mozilla */
}

/* For Google Chrome and others */
.nav__container::-webkit-scrollbar {
  display: none;
}

.nav__logo {
  font-weight: var(--font-semi-bold);
  margin-bottom: 2.5rem;
}

.nav__list, 
.nav__items {
  display: grid;
}

.nav__list {
  row-gap: 2.5rem;
  padding-top: 30px;
}

.nav__items {
  row-gap: 1.5rem;
}

.nav__subtitle {
  font-size: var(--normal-font-size);
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: var(--text-color-light);
}

.nav__link {
  align-items: center;
  color: var(--text-color-light);
}

.nav__link:hover {
  color: var(--first-color);
}

.nav__icon {
  font-size: 1.2rem;
  margin-right: .5rem;
}

.nav__name {
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
  white-space: nowrap;
}

.nav__logout {
  margin-top: 5rem;
}

/* Dropdown */
.nav__dropdown {
  overflow: hidden;
  max-height: 30px;
  transition: .4s ease-in-out;
}

.nav__dropdown-collapse {
  background-color: var(--first-color-light);
  border-radius: .25rem;
  margin-top: 1rem;
}

.nav__dropdown-content {
  display: grid;
  row-gap: .5rem;
  padding: .75rem 2.5rem .75rem 1.8rem;
}

.nav__dropdown-item {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  color: var(--text-color);
}

.nav__dropdown-item:hover {
  color: #11101d;
}

.nav__dropdown-icon {
  margin-left: auto;
  transition: .4s;
}

.nav__dropdown:hover {
  max-height: 100rem;
}

.nav__dropdown:hover .nav__dropdown-icon {
  transform: rotate(180deg);
}

.show-menu {
  left: 0;
}

.active {
  color: var(--first-color);
}


@media screen and (min-width: 768px) {
  
  .header {
    padding: 0 3rem 0 6rem;
    transition: .4s all;
  }
  .header:hover{
    background-color:#ffffff;
    .header__toggle_2 i,
    .header__container a{
      color:#000000;
    }
  }
  .header__container {
    height: calc(var(--header-height) + 1rem);
  }

  .header__search {
    width: 300px;
    padding: .55rem .75rem;
  }
  .header__toggle_2{
    display: block;
    position: absolute;
    font-size: 2.2rem;
    display: block;
    color: var(--first-color-light);
    cursor: pointer;
    top: 17%;
    left: 2%;
  }
  .header__toggle {
    display: none;
  }
  .header__logo {
    display: block;
  }
  .header__img {
    width: 40px;
    height: 40px;
    order: 1;
  }
  a.header__logo {
    font-size: 30px;
  }

  .nav {
    left: 0;
    padding: 1.2rem 1.5rem 0;
    width: 100px; /* Reduced navbar */
    opacity: 0;
  }
  .nav__items {
    padding-top: 50px;
    row-gap: 2rem;
  }
  .nav__icon {
    font-size: 1.3rem;
  }
  .nav__link{
    font-size: 27px
  }

  /* Element opacity */
  .nav__logo-name, 
  .nav__name, 
  .nav__subtitle, 
  .nav__dropdown-icon {
    opacity: 0;
    transition: .3s;
    font-size: 21px;
  }
  
  
  /* Navbar expanded */
  .nav:hover {
    width: var(--nav-width);
    left: 0;
    opacity: 1;
  }
  
  /* Visible elements */
  .nav:hover .nav__logo-name {
    opacity: 1;
  }
  .nav:hover .nav__subtitle {
    opacity: 1;
  }
  .nav:hover .nav__name {
    opacity: 1;
  }
  .nav:hover .nav__dropdown-icon {
    opacity: 1;
  }
}
